<template>
  <public-layout>
    <div class="login-form-container">
      <el-card style="padding: 1rem 0">
        <el-form ref="form" :model="user" label-width="200px" label-position="top">
          <el-form-item label="Adresse e-mail">
            <el-input class="full-width" type="email" v-model="user.email"></el-input>
          </el-form-item>
          <el-form-item label="Mot de passe">
            <el-input type="password" v-model="user.password"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" :loading="loading" @click="signIn">Se connecter</el-button>
          </el-form-item>
        </el-form>
        <a type="btn" href="#" @click="forgottenPassword">Mot de passe oublié</a>
      </el-card>
    </div>
  </public-layout>
</template>
<script>
import { roles } from '../../core/models/users/const/roles'
import User from '../../core/models/users/user'
import firebase from '../../firebase'
import Customer from '../../core/models/customers/Customer'
import PublicLayout from '../../layouts/public/PublicLayout'

export default {
  name: 'SignIn',
  components: {PublicLayout},
  data () {
    return {
      user: new User({}),
      customer: new Customer({}),
      loading: false
    }
  },
  methods: {
    forgottenPassword () {
      this.loading = true
      let email = this.fixTappedEmail()
      if (email) {
        this.user.resetPassword(email).then(() => {
          this.loading = false
          this.$message.success('Un email de réinitialisation vous a été envoyé. Consultez votre boîte de réception')
        }).catch(error => {
          this.loading = false
          console.log(error.code)
          switch (error.code) {
            case 'auth/network-request-failed':
              this.$message.error('Vérifiez votre connexion internet puis réessayez')
              break
            case 'auth/invalid-email':
              this.$message.error('Adresse email invalide')
              break
            case 'auth/user-not-found':
              this.$message.error('Aucun compte enregistré avec cette adresse email/nom d\'utilisateur')
              break
            case 'auth/user-disabled':
              this.$message.error('Votre compte a été désactivé par l\'administrateur')
              break
            default:
              this.$message.error('Une erreur est survenue, veuillez réessayer')
          }
        })
      } else {
        this.loading = false
        this.$message.info('Tapez votre adresse email afin de réinitialiser votre mot de passe')
      }
    },
    fixTappedEmail () {
      if (this.user.email) {
        if (this.user.email.indexOf('@') === -1) {
          return this.user.email + '@nominis.ca'
        } else {
          return this.user.email
        }
      } else {
        return null
      }
    },
    getNotificationToken () {
      const messaging = firebase.messaging()
      messaging.usePublicVapidKey('BJkOD-eWrHUBSuWybkveblYnu2moGa7ucFYLrNb5wDIUeo3uopdxBrtL0PxI3ZYkw-qUVYqniGCpeOwCt_TCiek')
      messaging.requestPermission().then(() => {
        console.log('Notification permission granted.')
        // Get Instance ID token. Initially this makes a network call, once retrieved
        // subsequent calls to getToken will return from cache.
        messaging.onTokenRefresh(() => {
          messaging.getToken().then(refreshedToken => {
            console.log('Token refreshed.')
            // Indicate that the new Instance ID token has not yet been sent to the
            // app server.
            // Send Instance ID token to app server.
            firebase.firestore().collection('customers').doc(firebase.auth().currentUser.uid).update({
              notificationToken: refreshedToken
            })
            // ...
          }).catch(error => {
            console.log('Unable to retrieve refreshed token ', error)
          })
        })
      }).catch(error => {
        console.log('Unable to get permission to notify.', error)
      })
    },
    canAccess (role) {
      return role === roles.ADMINISTRATOR.designation ||
        role === roles.ENTRY_OFFICIER.designation ||
        role === roles.VERIFICATION_OFFICIER.designation
    },
    initListeners (customerId) {
      this.$store.dispatch('publications/syncCollection', {limit: 50})
        .catch(e => {
          console.log(e)
        })
      this.$store.dispatch('favorites/syncCollection', customerId)
        .catch(e => {
          console.log(e)
        })
      this.$store.dispatch('purchases/syncCollection', customerId)
        .catch(e => {
          console.log(e)
        })
      this.$store.dispatch('lots/syncCollection')
        .catch(e => {
          console.log(e)
        })
      this.$store.dispatch('transactionType/syncCollection')
        .catch(e => {
          console.log(e)
        })
    },
    async signIn () {
      this.loading = true
      let email = this.fixTappedEmail()
      return this.user.signInWithEmail(email).then(() => {
        return this.user.getProfile()
          .then(user => {
            this.loading = false
            if (user.role) {
              if (this.canAccess(user.role)) {
                if (user.role === roles.ENTRY_OFFICIER.designation) {
                  this.$router.push({name: 'lots-index'})
                } else if (user.role === roles.VERIFICATION_OFFICIER.designation) {
                  this.$router.push({name: 'lots-verifications'})
                } else {
                  this.$router.push({name: 'lots-index'})
                }
              } else {
                this.$message.error('Une erreur interne s\'est produite')
                return this.user.signOut()
              }
            } else {
              this.$message.error('Une erreur interne est survenue')
              return this.user.signOut()
            }
          }).catch(error => {
            if (error.message === 'need to commit customer') {
              return this.customer.getProfile().then(customer => {
                this.initListeners(customer.id)
                this.loading = false
                // this.getNotificationToken().
                this.$router.push({name: 'publications'})
              })
            } else {
              console.log(error)
              return this.user.signOut()
            }
          })
      }).catch(error => {
        this.loading = false
        switch (error.code) {
          case 'auth/network-request-failed':
            this.$message.error('Vérifiez votre connexion internet puis réessayez')
            break
          case 'auth/invalid-email':
            this.$message.error('Adresse email invalide')
            break
          case 'auth/user-not-found':
            this.$message.error('Aucun compte enregistré avec cette adresse email/nom d\'utilisateur')
            break
          case 'auth/user-disabled':
            this.$message.error('Votre compte a été désactivé par l\'administrateur')
            break
          case 'auth/wrong-password':
            this.$message.error('Mot de passe incorrect')
            break
          default:
            console.log(error)
            this.$message.error('Vérifiez vos identifiants')
        }
      })
    }
  }
}
</script>
<style scoped>
  .login-form-container {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 768px) {
    .login-form-container {
      width: calc(100% - 1rem);
    }
  }
</style>
