<template>
  <el-container>
    <side-bar :activeIndex="$route.path"/>
    <el-main class="full-height">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>tableau de bord</el-breadcrumb-item>
      </el-breadcrumb>
    </el-main>
  </el-container>
</template>

<script>
import SideBar from '@/components/private/shared/SideBar'

export default {
  name: 'Dashboard',
  components: {SideBar}
}
</script>
