<template>
  <el-container>
    <side-bar v-if="role === 'Administrateur'" :activeIndex="$route.path"/>
    <el-main class="full-height" v-bind:class="[role !== 'Administrateur'  ? 'officierMain' : '']" id="content">
      <el-breadcrumb v-if="role === 'Administrateur'" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
        <el-breadcrumb-item>Liste des actes fonciers</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="margin-top">
        <h3 class="center-text">Rôles d'évaluation foncière</h3>
        <el-dialog
          title="Ajouter un acte foncier"
          :visible.sync="dialogVisible"
          width="30%"
          :before-close="handleClose">
          <el-form ref="form" :model="act" :rules="rules" class="margin-top">
            <el-form-item label="Numéro d'inscription" prop="inscriptionNumber">
              <el-input v-model="act.inscriptionNumber"/>
            </el-form-item>
            <el-form-item label="Date d'inscription" prop="inscriptionDate">
              <el-date-picker type="date" placeholder="choisir une date" v-model="act.inscriptionDate"
                              style="width: 100%;"/>
            </el-form-item>
            <el-form-item label="Type de transaction" prop="transactionType">
              <el-select v-model="act.transactionType" filterable style="width: 100%"
                         placeholder="merci de sélectionner le type de transaction">
                <el-option
                  v-for="(transaction, index) in transactionsType"
                  :key="index"
                  :label="transaction"
                  :value="transaction"/>
              </el-select>
            </el-form-item>
            <el-form-item label="Document pdf">
              <input style="width: 100%" type="file" name="document" id="document">
            </el-form-item>
            <el-form-item class="center-text">
              <el-button :loading="buttonLoading" type="primary" @click="submitForm">Sauvegarder</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
        <div v-if="role === 'Administrateur'" class="right-text">
          <el-button type="primary" @click="dialogVisible = true" icon="el-icon-plus" circle/>
        </div>
        <el-card class="margin-top">
          <el-table :data="acts" style="width: 100%">
            <el-table-column prop="inscriptionNumber" label="Numéro d'inscription"/>
            <el-table-column prop="transactionType" label="Type de transaction"/>
            <el-table-column prop="status" label="Etat"/>
            <el-table-column
              label="Operations"
              width="180">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  v-if="acts[scope.$index].status === actStatus.NEW"
                  @click="processAct(scope.$index, acts)" size="small">Traiter
                </el-button>
                <el-button
                  type="text"
                  v-else-if="acts[scope.$index].status === actStatus.PROCESSED"
                  @click="correctAct(scope.$index, acts)" size="small">Corriger
                </el-button>
                <el-button
                  type="text"
                  v-else-if="canUpdateAct(acts[scope.$index])"
                  @click="updateAct(scope.$index, acts)" size="small">Modifier
                </el-button>
                <el-button v-if="role === 'Administrateur'" type="text" @click="deleteAct(scope.$index, acts)" size="small">Supprimer</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import { mapGetters } from 'vuex'
import { Loading } from 'element-ui'

import SideBar from '@/components/private/shared/SideBar'
import { actStatus } from '../../../../models/acts/enum/acts-status'

import { transactionsType } from '../../../../models/acts/const/transactions-types'
import Document from '../../../../models/core/document'
import Attachment from '../../../../models/acts/classes/attachment'
import Act from '../../../../models/acts/act'

// @TODO handle table actions
export default {
  name: 'ActsList',
  components: {SideBar},
  data () {
    return {
      act: new Act({}),
      transactionsType,
      actStatus,
      rules: {
        inscriptionNumber: [{
          required: true,
          message: 'Merci de spécifier le numéro d\'inscription',
          trigger: 'blur'
        }],
        inscriptionDate: [{
          required: true,
          message: 'Merci de spécifier la date d\'inscription',
          trigger: 'blur'
        }],
        transactionType: [{
          required: true,
          message: 'Merci de spécifier le type de la transaction',
          trigger: 'blur'
        }]
      },
      dialogVisible: false,
      buttonLoading: false
    }
  },
  computed: {
    ...mapGetters({
      acts: 'act/getAll',
      uid: 'getUID',
      role: 'getRole'
    })
  },
  methods: {
    canUpdateAct (act) {
      if (act.status.BEING_PROCESSED) {
        return act.processedBy.uid === this.uid
      }
      if (act.status.BEING_CORRECTED) {
        return act.correctedBy.uid === this.uid
      }
      return this.act.status !== actStatus.PUBLISHED
    },
    initData () {
      let loadingInstance = Loading.service({target: '#content'})
      this.$store.dispatch('act/syncCollection')
        .then(() => {
          loadingInstance.close()
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    },
    processAct (index, rows) {
      let loadingInstance = Loading.service({target: '#content'})
      rows[index].startProcess({user: {uid: this.uid}}).then(act => {
        loadingInstance.close()
        this.$router.push({name: 'process-act', params: {id: act.id}})
      })
    },
    correctAct (index, rows) {
      let loadingInstance = Loading.service({target: '#content'})
      rows[index].startCorrection({user: {uid: this.uid}}).then(act => {
        loadingInstance.close()
        this.$router.push({name: 'process-act', params: {id: act.id}})
      })
    },
    updateAct (index, rows) {
      this.$router.push({name: 'process-act', params: {id: rows[index].id}})
    },
    deleteAct (index, rows) {
      this.$confirm('Voulez-vous supprimer cet acte de façon définitive. Continuer ?', 'Warning', {
        confirmButtonText: 'Continuer',
        cancelButtonText: 'Annuler',
        type: 'warning'
      }).then(() => {
        let loadingInstance = Loading.service({target: '#content'})
        rows[index].delete()
          .then(() => {
            loadingInstance.close()
            this.$message.success('Acte supprimé avec succès...')
          })
      }).catch(() => {
        this.$message.info('Suppression annulée...')
      })
    },
    submitForm () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.save()
        } else {
          this.$message.warning('Merci de vérifier les données saisies')
          return false
        }
      })
    },
    save () {
      this.buttonLoading = true
      let fileInput = document.querySelector('#document')
      let doc = fileInput.files[0]
      if (doc !== undefined && doc.type === 'application/pdf') {
        let loadingInstance = Loading.service({target: '#content'})
        let file = new Document({file: doc})
        file.uploadFile().then(result => {
          fileInput.value = ''
          let attachment = new Attachment({})
          attachment.setFile(result)
          this.act.createNew({attachment: attachment, user: {uid: this.uid}})
            .then(() => {
              this.$message.success('L\'acte foncier a été ajouté avec succès')
              this.buttonLoading = false
              this.dialogVisible = false
              this.act = new Act({})
              loadingInstance.close()
            })
        }).catch(error => {
          switch (error.code) {
            case 'storage/unauthorized':
              this.$message.error('Vous n\'êtes pas autorisé à effectuer cette action...')
              break
            case 'storage/canceled':
              this.$message.info('Action annulée par l\'utilisateur...')
              break
            case 'storage/unknown':
              this.$message.error('Une erreur inconnue est survenue, merci de contacter votre administrateur...')
              break
          }
          console.log(error)
          loadingInstance.close()
        })
      } else {
        this.$message.warning('Vous devez attacher un fichier de type pdf...')
      }
    },
    handleClose (done) {
      this.act = new Act({})
      done()
    }
  },
  mounted () {
    this.initData()
  }
}
</script>
