<template>
  <el-container>
    <side-bar :activeIndex="$route.path"/>
    <el-main class="full-height" id="content">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>tableau de bord</el-breadcrumb-item>
        <el-breadcrumb-item>gestion des actes fonciers</el-breadcrumb-item>
        <el-breadcrumb-item>ajouter un acte foncier</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="margin-top">
        <h3 class="center-text">Ajouter un acte foncier</h3>
        <el-card>
          <el-form ref="form" :model="act" :rules="rules" class="margin-top">
            <el-form-item label="Numéro d'inscription" prop="inscriptionNumber">
              <el-input v-model="act.inscriptionNumber"/>
            </el-form-item>
            <el-form-item label="Date d'inscription" prop="inscriptionDate">
              <el-date-picker type="date" placeholder="choisir une date" v-model="act.inscriptionDate"
                              style="width: 100%;"/>
            </el-form-item>
            <el-form-item label="Type de transaction" prop="transactionType">
              <el-select v-model="act.transactionType" filterable style="width: 100%"
                         placeholder="merci de sélectionner le type de transaction">
                <el-option
                  v-for="(transaction, index) in transactionsType"
                  :key="index"
                  :label="transaction"
                  :value="transaction"/>
              </el-select>
            </el-form-item>
            <el-form-item label="Document pdf">
              <input style="width: 100%" type="file" name="document" id="document">
            </el-form-item>
            <el-form-item class="center-text">
              <el-button type="primary" @click="submitForm">Sauvegarder</el-button>
            </el-form-item>
          </el-form>
        </el-card>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import { Loading } from 'element-ui'
import { mapState } from 'vuex'

import SideBar from '@/components/private/shared/SideBar'

import { transactionsType } from '../../../../models/acts/const/transactions-types'
import Document from '../../../../models/core/document'
import Attachment from '../../../../models/acts/classes/attachment'
import Act from '../../../../models/acts/act'

export default {
  name: 'CreateAct',
  components: {SideBar},
  data () {
    return {
      act: new Act({}),
      transactionsType,
      rules: {
        inscriptionNumber: [{
          required: true,
          message: 'Merci de spécifier le numéro d\'inscription',
          trigger: 'blur'
        }],
        inscriptionDate: [{
          required: true,
          message: 'Merci de spécifier la date d\'inscription',
          trigger: 'blur'
        }],
        transactionType: [{
          required: true,
          message: 'Merci de spécifier le type de la transaction',
          trigger: 'blur'
        }]
      }
    }
  },
  computed: {
    ...mapState(['user'])
  },
  methods: {
    submitForm () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.save()
        } else {
          this.$message.warning('Merci de vérifier les données saisies')
          return false
        }
      })
    },
    save () {
      let fileInput = document.querySelector('#document')
      let doc = fileInput.files[0]
      if (doc !== undefined && doc.type === 'application/pdf') {
        let loadingInstance = Loading.service({target: '#content'})
        let file = new Document({file: doc})
        file.uploadFile().then(result => {
          fileInput.value = ''
          let attachment = new Attachment({})
          attachment.setFile(result)
          this.act.createNew({attachment: attachment, user: {uid: this.user.uid}})
            .then(() => {
              this.$message.success('L\'acte foncier a été ajouté avec succès')
              this.act = new Act({})
              loadingInstance.close()
            })
        }).catch(error => {
          switch (error.code) {
            case 'storage/unauthorized':
              this.$message.error('Vous n\'êtes pas autorisé à effectuer cette action...')
              break
            case 'storage/canceled':
              this.$message.info('Action annulée par l\'utilisateur...')
              break
            case 'storage/unknown':
              this.$message.error('Une erreur inconnue est survenue, merci de contacter votre administrateur...')
              break
          }
          console.log(error)
          loadingInstance.close()
        })
      } else {
        this.$message.warning('Vous devez attacher un fichier de type pdf...')
      }
    }
  }
}
</script>
