<template>
  <el-container>
    <side-bar :activeIndex="$route.path"/>
    <el-main class="full-height" id="content">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>tableau de bord</el-breadcrumb-item>
        <el-breadcrumb-item>gestion des actes fonciers</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="margin-top">
        <h3 class="center-text">Saisie d'un rôle d'évaluation foncière</h3>
        <el-card>
          <act-form :act="act" :geoPoint="geoPoint" :owner="owner" :seller="seller" :jurist="jurist"
                    :addresses="addresses"/>
        </el-card>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import { Loading } from 'element-ui'

import SideBar from '@/components/private/shared/SideBar'
import ActForm from '@/components/private/acts/ActForm'
import Act from '../../../../models/acts/act'

import Owner from '../../../../models/acts/classes/owner'
import Seller from '../../../../models/acts/classes/seller'
import Jurist from '../../../../models/acts/classes/jurist'

import Address from '../../../../models/acts/classes/address'

export default {
  name: 'ProcessAct',
  components: {ActForm, SideBar},
  data () {
    return {
      act: new Act({}),
      owner: new Owner({}),
      seller: new Seller({}),
      jurist: new Jurist({}),
      addresses: [new Address({})],
      geoPoint: {latitude: null, longitude: null}
    }
  },
  mounted () {
    if (this.$route.params.id !== undefined && this.$route.params.id !== null) {
      let loadingInstance = Loading.service({target: '#content'})
      this.act.fetch(this.$route.params.id)
        .then(() => {
          if (this.act.inscriptionDate !== undefined) {
            this.act.inscriptionDate = new Date(this.act.inscriptionDate.seconds * 1000)
          }
          if (this.act.deadline !== undefined) {
            this.act.deadline = new Date(this.act.deadline.seconds * 1000)
          }
          if (this.act.addresses !== undefined && this.act.addresses.length > 1) {
            this.addresses = this.act.addresses.map(address => new Address({...address}))
          }
          if (this.act.owner !== undefined) {
            this.owner = new Owner({...this.act.owner})
          }
          if (this.act.seller !== undefined) {
            this.seller = new Seller({...this.act.seller})
          }
          if (this.act.jurist !== undefined) {
            this.jurist = new Jurist({...this.act.jurist})
          }
          if (this.act.geoPoint !== undefined) {
            this.geoPoint = {latitude: this.act.geoPoint.latitude, longitude: this.act.geoPoint.longitude}
          }
          loadingInstance.close()
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    }
  }
}
</script>

<style scoped>

</style>
