<template>
  <admin-layout>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Gestion des actualités</el-breadcrumb-item>
    </el-breadcrumb>
    <br/>
    <el-card class="margin-top">
      <h2>Actualités</h2>
      <el-row :gutter="16">
        <el-col :span="12">
          <el-input
            v-model="filters[0].value"
            placeholder="Chercher les actualités par type, titre ou contenu"/>
        </el-col>
      </el-row>
        <data-tables :data="news" @selection-change="handleSelectionChange" :filters="filters" :action-col="actionCol">
          <el-table-column
            prop="type"
            label="Type">
          </el-table-column>
          <el-table-column
            prop="title"
            label="Titre">
          </el-table-column>
          <el-table-column
            prop="body"
            label="Contenu"
            width="300">
          </el-table-column>
          <el-table-column
            prop="isPublished"
            label="Publiée">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.isPublished"
                         @change="changePublished(scope.$index, scope.row)"></el-switch>
            </template>
          </el-table-column>
          <el-table-column
            prop="createdAt"
            label="Ajoutée le">
          </el-table-column>
          <el-table-column
            prop="updatedAt"
            label="Modifiée le">
          </el-table-column>
          <el-table-column
            prop="publishedAt"
            label="Publiée le">
          </el-table-column>
        </data-tables>
    </el-card>
  </admin-layout>
</template>

<script>
import News from '../../../core/models/news/news'
import AdminLayout from '../../../layouts/admin/AdminLayout'
import { mapGetters } from 'vuex'
import { Loading } from 'element-ui'
export default {
  name: 'NewsIndex',
  components: {AdminLayout},
  computed: {
    ...mapGetters({
      news: 'news/getAll'
    })
  },
  data () {
    return {
      filters: [{
        prop: ['type', 'title', 'body'],
        value: ''
      }],
      actionCol: {
        props: {
          width: '150',
          fixed: 'right',
          align: 'center',
          label: 'Actions'
        },
        buttons: [{
          props: {
            type: 'primary',
            icon: 'el-icon-edit',
            size: 'small'
          },
          handler: row => {
            this.$router.push({name: 'create-news', params: {id: row.id}})
          }
        }, {
          props: {
            type: 'danger',
            icon: 'el-icon-delete',
            size: 'small'
          },
          handler: row => {
            this.$confirm('Voulez-vous supprimer cette actualité de façon définitive. Continuer ?', 'Attention', {
              confirmButtonText: 'Continuer',
              cancelButtonText: 'Annuler',
              type: 'warning'
            }).then(() => {
              let loadingInstance = Loading.service({target: '#content'})
              new News({id: row.id}).remove().then(() => {
                loadingInstance.close()
                this.$message.success('L\'actualité a été supprimée avec succès...')
              }).catch(error => {
                console.log(error)
                loadingInstance.close()
              })
            }).catch(() => {
              this.$message.info('Suppression annulée')
            })
          }
        }]
      },
      selectedRow: []
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    initData () {
      let loadingInstance = Loading.service({target: '#content'})
      this.$store.dispatch('news/syncCollection').then(() => {
        loadingInstance.close()
      }).catch(error => {
        console.log(error)
        loadingInstance.close()
      })
    },
    changePublished (index, row) {
      row.setPublished(row.isPublished)
    },
    handleSelectionChange (val) {
      this.selectedRow = val
    }
  }
}
</script>

<style scoped>

</style>
