<template>
  <admin-layout>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Gestion des actualités</el-breadcrumb-item>
      <el-breadcrumb-item v-if="news.id">Modifier une actualité</el-breadcrumb-item>
      <el-breadcrumb-item v-else>Ajouter une actualité</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="margin-top">
      <el-card style="padding: 1rem 0">
        <!-- <div slot="header" class="clearfix">
          <el-button style="float: right; padding: 3px 0" type="text">Operation button</el-button>
        </div> -->
        <el-form ref="form" :model="news" label-width="100px">
          <el-form-item label="Type">
            <el-input v-model="news.type"></el-input>
          </el-form-item>
          <el-form-item label="Titre">
            <el-input v-model="news.title"></el-input>
          </el-form-item>
          <el-form-item label="Contenu">
            <el-input type="textarea" v-model="news.body" name="body"></el-input>
          </el-form-item>
          <el-form-item label="Publié">
            <el-switch v-model="news.isPublished"></el-switch>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="save">Sauvegarder</el-button>
            <el-button @click="cancel">Retour</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </admin-layout>
</template>

<script>
import News from '../../../core/models/news/news'
import AdminLayout from '../../../layouts/admin/AdminLayout'
import { Loading } from 'element-ui'
export default {
  name: 'CreateSingleNews',
  components: {AdminLayout},
  data () {
    return {
      news: new News({})
    }
  },
  mounted () {
    let id = this.$route.params.id
    this.news = new News({id: id})
    this.news.getNewsByID()
  },
  methods: {
    cancel () {
      this.$router.go(-1)
    },
    save () {
      let loadingInstance = Loading.service({target: '#content'})
      if (this.news.createdAt) {
        this.news.update().then(() => {
          loadingInstance.close()
          this.$message.success('L\'actualité a été modifiée avec succès')
        }).catch(error => {
          console.log(error)
          loadingInstance.close()
          this.$message.error('Une erreur est survenue, veuillez réessayer')
        })
      } else {
        return this.news.create().then(() => {
          loadingInstance.close()
          this.$message.success('L\'actualité a été ajoutée avec succès')
        }).catch(error => {
          console.log(error)
          loadingInstance.close()
          this.$message.error('Une erreur est survenue, veuillez réessayer')
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
