<template>
  <el-container>
    <side-bar :activeIndex="$route.path"/>
    <el-main class="full-height">
      <br/>
      <div style="margin-bottom: 10px">
        <el-row>
          <el-col :span="10">
            <el-input v-model="filters[0].value" placeholder="Chercher un acte"></el-input>
          </el-col>
        </el-row>
      </div>

      <data-tables :data="acts" :table-props="props" @selection-change="handleSelectionChange" :filters="filters" :action-col="actionCol">
        <el-table-column
          prop="transactionType"
          label="Type de transaction"
          width="150">
        </el-table-column>
        <el-table-column
          prop="inscriptionNumber"
          label="Numéro d'inscription">
        </el-table-column>
        <el-table-column
          prop="inscriptionDateDisplay"
          label="Date d'inscription"
          width="100">
        </el-table-column>
        <el-table-column
          prop="deadlineDisplay"
          label="Date d'échéance"
          width="100">
        </el-table-column>
        <el-table-column
          prop="category"
          label="Catégorie">
        </el-table-column>
        <el-table-column
          prop="city"
          label="Ville">
        </el-table-column>
        <el-table-column
          prop="office"
          label="Bureau">
        </el-table-column>
        <el-table-column
          prop="registrationNumber"
          label="Matricule">
        </el-table-column>
        <el-table-column
          prop="folderNumber"
          label="Dossier n°">
        </el-table-column>
        <el-table-column
          prop="neighborhoodUnitNumber"
          label="Numéro d'unité de voisinage">
        </el-table-column>
        <el-table-column
          prop="ownerDisplay"
          label="Propriétaire"
          width="150">
        </el-table-column>
        <el-table-column
          prop="sellerDisplay"
          label="Créancier"
          width="150">
        </el-table-column>
        <el-table-column
          prop="juristDisplay"
          label="Juriste"
          width="150">
        </el-table-column>
        <el-table-column
          prop="addressesDisplay"
          label="Adresses"
          width="300">
        </el-table-column>
        <el-table-column
          prop="constructionYear"
          label="Année de construction">
        </el-table-column>
        <el-table-column
          prop="fieldArea"
          label="Superficie du terrain">
        </el-table-column>
        <el-table-column
          prop="buildingArea"
          label="Superficie du bâtiment">
        </el-table-column>
        <el-table-column
          prop="floorsNumber"
          label="Nombre d'étages">
        </el-table-column>
        <el-table-column
          prop="housingsNumber"
          label="Nombre de logements">
        </el-table-column>
        <el-table-column
          prop="commercialPremisesNumber"
          label="Nombre de locaux commerciaux">
        </el-table-column>
        <el-table-column
          prop="landValue"
          label="Valeur du terrain">
        </el-table-column>
        <el-table-column
          prop="constructionValue"
          label="Valeur du bâtiment">
        </el-table-column>
        <el-table-column
          prop="buildingValue"
          label="Valeur de l'immeuble">
        </el-table-column>
        <el-table-column
          prop="value"
          label="Montant">
        </el-table-column>
        <el-table-column
          prop="comment"
          label="Commentaire">
        </el-table-column>
        <el-table-column
          prop="mapUrl"
          label="Map">
        </el-table-column>
        <el-table-column
          prop="img"
          label="Image">
        </el-table-column>
      </data-tables>
    </el-main>
  </el-container>
</template>

<script>
import SideBar from '@/components/private/shared/SideBar'
import Act from '@/models/acts/act'
export default {
  name: 'DocumentsList',
  components: {SideBar},
  data () {
    return {
      acts: this.acts,
      filters: [{
        prop: ['registrationNumber', 'transactionType'],
        value: ''
      }],
      props: {
        stripe: true
      },
      actionCol: {
        props: {
          label: 'Actions'
        },
        buttons: [{
          props: {
            type: 'primary'
          },
          handler: row => {
            // this.$router.push({name: 'create-user', params: {uid: row.uid}})
          },
          label: 'Editer'
        }, {
          handler: row => {
            /*
            let i = this.users.findIndex(user => user.uid === row.uid)
            if (i > -1) {
              new User({uid: this.users[i].uid}).remove().then(() => {
                this.users.splice(i, 1)
              }).catch(error => {
                console.log(error)
                this.$message.warning('Une erreur est survenue, vérifiez votre connexion internet')
              })
            }
            */
          },
          label: 'Supprimer'
        }, {
          handler: row => {

          },
          label: 'Remettre'
        }]
      },
      selectedRow: []
    }
  },
  methods: {
    initData () {
      new Act({}).fetchAll().then(acts => {
        this.acts = acts
      }).catch(error => {
        this.$message.warning('Une erreur est survenue, vérifiez votre connexion internet')
        console.log(error)
      })
    },
    handleSelectionChange (val) {
      this.selectedRow = val
    }
  },
  mounted () {
    this.initData()
  }
}
</script>

<style scoped>

</style>
