<template>
  <el-container>
    <side-bar v-if="role === 'Administrateur'" :activeIndex="$route.path"/>
    <el-main class="full-height" v-bind:class="[role !== 'Administrateur'  ? 'officierMain' : '']" id="content">
      <el-breadcrumb v-if="role === 'Administrateur'" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
        <el-breadcrumb-item>Vérification des saisies</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="margins">
        <el-row>
          <el-col :span="10">
            <el-input v-model="filters[0].value" placeholder="Chercher un acte"></el-input>
          </el-col>
        </el-row>
      </div>
      <data-tables :data="acts" :table-props="props" @selection-change="handleSelectionChange" :filters="filters">
        <el-table-column
          prop="transactionType"
          label="Type de transaction"
          width="120">
        </el-table-column>
        <el-table-column
          prop="inscriptionNumber"
          label="Numéro d'inscription">
        </el-table-column>
        <el-table-column
          prop="inscriptionDateDisplay"
          label="Date d'inscription"
          width="100">
        </el-table-column>
        <el-table-column
          prop="deadlineDisplay"
          label="Date d'échéance"
          width="100">
        </el-table-column>
        <el-table-column
          prop="registrationNumber"
          label="Matricule">
        </el-table-column>
        <el-table-column
          prop="folderNumber"
          label="Dossier n°">
        </el-table-column>
        <el-table-column
          prop="neighborhoodUnitNumber"
          label="Numéro d'unité de voisinage">
        </el-table-column>
        <el-table-column
          prop="ownerDisplay"
          label="Propriétaire"
          width="150">
        </el-table-column>
        <el-table-column
          prop="sellerDisplay"
          label="Créancier"
          width="150">
        </el-table-column>
        <el-table-column
          prop="juristDisplay"
          label="Juriste"
          width="150">
        </el-table-column>
        <el-table-column
          prop="address.lotNumber"
          label="Lot n°">
        </el-table-column>
        <el-table-column
          prop="address.address"
          label="Adresse"
          width="250">
        </el-table-column>
        <el-table-column
          prop="city"
          label="Ville">
        </el-table-column>
        <el-table-column
          prop="address.zipCode"
          label="Code postal">
        </el-table-column>
        <el-table-column
          prop="address.district"
          label="Arrondissement">
        </el-table-column>
        <el-table-column
          prop="categoriesDisplay"
          label="Type de bien">
        </el-table-column>
        <el-table-column
          prop="constructionYear"
          label="Année de construction">
        </el-table-column>
        <el-table-column
          prop="fieldArea"
          label="Superficie du terrain">
        </el-table-column>
        <el-table-column
          prop="buildingArea"
          label="Superficie du bâtiment">
        </el-table-column>
        <el-table-column
          prop="floorsNumber"
          label="Nombre d'étages">
        </el-table-column>
        <el-table-column
          prop="housingsNumber"
          label="Nombre de logements">
        </el-table-column>
        <el-table-column
          prop="commercialPremisesNumber"
          label="Nombre de locaux commerciaux">
        </el-table-column>
        <el-table-column
          prop="landValue"
          label="Valeur du terrain">
        </el-table-column>
        <el-table-column
          prop="constructionValue"
          label="Valeur du bâtiment">
        </el-table-column>
        <el-table-column
          prop="buildingValue"
          label="Valeur de l'immeuble">
        </el-table-column>
        <el-table-column
          prop="value"
          label="Montant">
        </el-table-column>
        <el-table-column
          prop="comment"
          label="Commentaire">
        </el-table-column>
        <el-table-column
          prop="mapUrl"
          label="Map">
          <a href=""></a>
        </el-table-column>
        <el-table-column
          prop="img"
          label="Image">
        </el-table-column>
        <el-table-column
          label="Actions"
          v-bind:width="[role !== 'Administrateur'  ? 260 : 350]">
          <template slot-scope="scope">
            <el-button type="primary" size="small" @click="editAct(scope.$index, acts)">Editer</el-button>
            <el-button type="success" size="small" @click="publishAct(scope.$index, acts)">Publier</el-button>
            <el-button type="info" size="small" @click="reprocessAct(scope.$index, acts)">Remettre</el-button>
            <el-button v-if="role === 'Administrateur'" type="danger" size="small" @click="removeAct(scope.$index, acts)">Supprimer</el-button>
          </template>
        </el-table-column>
      </data-tables>
    </el-main>
  </el-container>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import SideBar from '@/components/private/shared/SideBar'
import { Loading } from 'element-ui'

export default {
  name: 'VerificationList',
  components: {SideBar},
  data () {
    return {
      filters: [{
        prop: ['registrationNumber', 'transactionType', 'inscriptionNumber', 'folderNumber', 'neighborhoodUnitNumber', 'ownerDisplay', 'sellerDisplay', 'juristDisplay', 'comments', 'value'],
        value: ''
      }],
      props: {
        stripe: true,
        border: true
      },
      selectedRow: []
    }
  },
  methods: {
    handleSelectionChange (val) {
      this.selectedRow = val
    },
    initData () {
      let loadingInstance = Loading.service({target: '#content'})
      this.$store.dispatch('act/syncCollection')
        .then(() => {
          loadingInstance.close()
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    },
    editAct (index, rows) {
      let loadingInstance = Loading.service({target: '#content'})
      rows[index].startCorrection({user: {uid: this.user.uid}}).then(act => {
        loadingInstance.close()
        this.$router.push({name: 'process-act', params: {id: act.id}})
      }).catch(error => {
        console.log(error)
      })
    },
    publishAct (index, rows) {
      let loadingInstance = Loading.service({target: '#content'})
      rows[index].publish({user: {uid: this.user.uid}}).then(act => {
        loadingInstance.close()
      })
    },
    reprocessAct (index, rows) {
      /*
      let loadingInstance = Loading.service({target: '#content'})
      rows[index].reprocess({user: {uid: this.user.uid}}).then(act => {
        loadingInstance.close()
      })
      */
    },
    removeAct (index, rows) {
      this.$confirm('Voulez-vous supprimer cet acte de façon définitive. Continuer ?', 'Attention', {
        confirmButtonText: 'Continuer',
        cancelButtonText: 'Annuler',
        type: 'warning'
      }).then(() => {
        let loadingInstance = Loading.service({target: '#content'})
        rows[index].delete()
          .then(() => {
            loadingInstance.close()
            this.$message.success('Acte supprimé avec succès...')
          })
      }).catch(() => {
        this.$message.info('Suppression annulée...')
      })
    }
  },
  computed: {
    ...mapState(['user']),
    ...mapGetters({
      acts: 'act/getAll',
      role: 'getRole'
    })
  },
  mounted () {
    this.initData()
  }
}
</script>

<style scoped>
  .margins {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
