<template>
  <admin-layout>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Vérification des saisies</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="margin-vertical">
      <lot-verification-table/>
    </div>
  </admin-layout>
</template>

<script>
import AdminLayout from '../../../layouts/admin/AdminLayout'
import LotVerificationTable from '../../../components/acts/LotVerificationTable'

// @TODO pass table data as prop
export default {
  name: 'DashboardIndex',
  components: {AdminLayout, LotVerificationTable}
}
</script>
