<template>
  <admin-layout id="#content">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Gestion des actes fonciers</el-breadcrumb-item>
    </el-breadcrumb>
    <el-dialog
      title="Ajouter un acte foncier"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <create-lot-form @save="cancel" :lot="lot"/>
    </el-dialog>
    <div v-if="isAdmin" class="right-text">
      <el-button type="primary" @click="dialogVisible = true" icon="el-icon-plus" circle/>
    </div>
    <el-card class="margin-top">
      <h2>Rôles d'évaluations foncières</h2>
      <lots-base-table :lots="lots"/>
    </el-card>
  </admin-layout>
</template>

<script>
import moment from 'moment'
import { Loading } from 'element-ui'
import { mapGetters } from 'vuex'

import AdminLayout from '../../../layouts/admin/AdminLayout'
import CreateLotForm from '../../../components/acts/CreateLotForm'
import LotsBaseTable from '../../../components/acts/LotsBaseTable'

import Lot from '../../../core/models/acts/lot'
import Act from '../../../core/models/acts/classes/act'

moment.locale('fr')

export default {
  name: 'LotsIndex',
  components: {AdminLayout, CreateLotForm, LotsBaseTable},
  data () {
    return {
      lot: new Lot({act: new Act({})}),
      dialogVisible: false
    }
  },
  computed: {
    ...mapGetters({
      lots: 'lots/getEntry',
      user: 'users/getCurrentUser'
    }),
    isAdmin: function () {
      return this.user.role === 'Administrateur'
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    initData () {
      let loadingInstance = Loading.service({target: '#content'})
      this.$store.dispatch('lots/syncCollection')
        .then(() => {
          loadingInstance.close()
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    },
    handleClose (done) {
      this.lot = new Lot({act: new Act({})})
      done()
    },
    cancel () {
      this.lot = new Lot({act: new Act({})})
      this.dialogVisible = false
    }
  }
}
</script>
