<template>
  <el-form ref="form" :model="lot.act" :rules="rules" class="margin-top">
    <el-form-item label="Numéro d'inscription" prop="inscriptionNumber">
      <el-input-mask mask="99999999" v-model="lot.act.inscriptionNumber"/>
    </el-form-item>
    <el-form-item label="Date d'inscription" prop="inscriptionDate">
      <el-date-picker type="date" value-format="dd/MM/yyyy" format="dd/MM/yyyy" placeholder="choisir une date"
                      v-model="lot.act.inscriptionDate"
                      style="width: 100%;"/>
    </el-form-item>
    <el-form-item label="Type de transaction" prop="transactionType">
      <el-select v-model="lot.act.transactionType" filterable style="width: 100%"
                 placeholder="merci de sélectionner le type de transaction">
        <el-option
          v-for="(transaction, index) in records"
          :key="index"
          :label="transaction"
          :value="transaction"/>
      </el-select>
    </el-form-item>
    <el-form-item label="Document pdf">
      <input style="width: 100%" type="file" accept="application/pdf" name="document" id="document" multiple>
    </el-form-item>
    <el-form-item class="center-text">
      <el-button type="primary" @click="submitForm">Sauvegarder</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { Loading } from 'element-ui'
import { mapGetters } from 'vuex'

import ElInputMask from '../core/ElInputMask'

import Attachment from '../../core/models/storage/classes/attachment'
import Document from '../../core/models/storage/document'
import { cleanObject } from '../../core/helpers'

export default {
  name: 'CreateLotForm',
  props: ['lot'],
  components: {ElInputMask},
  data () {
    return {
      rules: {
        inscriptionNumber: [{
          required: true,
          message: 'Merci de spécifier le numéro d\'inscription',
          trigger: 'blur'
        }],
        inscriptionDate: [{
          required: true,
          message: 'Merci de spécifier la date d\'inscription',
          trigger: 'blur'
        }],
        transactionType: [{
          required: true,
          message: 'Merci de spécifier le type de la transaction',
          trigger: 'blur'
        }]
      }
    }
  },
  mounted () {
    this.$store.dispatch('transactionType/syncCollection')
      .catch(e => {
        console.log(e)
      })
  },
  computed: {
    ...mapGetters({
      user: 'users/getCurrentUser',
      transactionsTypes: 'transactionType/getAll'
    }),
    records: function () {
      var rec = []
      this.transactionsTypes.forEach(tr => {
        rec.push(tr.type)
      })
      rec.sort()
      return rec
    }
  },
  methods: {
    submitForm () {
      this.save()
    },
    save () {
      let fileInput = document.querySelector('#document')
      let loadingInstance = Loading.service({target: '#content'})
      var i
      for (i = 0; i < fileInput.files.length; i++) {
        let doc = fileInput.files[i]
        if (doc !== undefined && doc.type === 'application/pdf') {
          let file = new Document({file: doc})
          file.uploadFile().then(result => {
            fileInput.value = ''
            let attachment = new Attachment({...result})
            this.lot.createNew({attachment: attachment.clean(), user: cleanObject(this.user)})
              .then(() => {
                this.$message.success('Un acte foncier a été ajouté avec succès')
                this.$emit('save', this.lot)
                loadingInstance.close()
              })
          }).catch(error => {
            switch (error.code) {
              case 'storage/unauthorized':
                this.$message.error('Vous n\'êtes pas autorisé à effectuer cette action...')
                break
              case 'storage/canceled':
                this.$message.info('Action annulée par l\'utilisateur...')
                break
              case 'storage/unknown':
                this.$message.error('Une erreur inconnue est survenue, merci de contacter votre administrateur...')
                break
            }
            console.log(error)
          })
        } else {
          this.$message.warning('Vous devez attacher un fichier de type pdf...')
        }
      }
    }
  }
}
</script>
