<template>
    <div>
      <el-button type="primary" icon="el-icon-view" @click="dialogVisible = true" circle></el-button>
      <el-dialog
        title="Historique des actions effectuées"
        :append-to-body="true"
        :visible.sync="dialogVisible">
        <div v-for="(history, index) in actionsHistory.slice().reverse()" :key="index">
          <div style="margin-top: 8px;">
            <div :sm="12" class="right-text">
              <span style="color: #95a5a6; font-size: .8rem">{{history.date|convertTimestamp2DateTimeString}}</span>
            </div>
            <p><b>{{history.user|userToString}}</b> {{history.action}}</p>
          </div>
          <hr>
        </div>
      </el-dialog>
    </div>
</template>

<script>
export default {
  name: 'LotHistory',
  props: ['actionsHistory'],

  filters: {
    userToString (user) {
      if (user.firstName && user.lastName) {
        return user.firstName + ' ' + user.lastName
      } else if (!user.firstName && user.lastName) {
        return user.lastName
      } else if (user.firstName && !user.lastName) {
        return user.firstName
      } else {
        return user.uid
      }
    }
  },
  data () {
    return {
      dialogVisible: false
    }
  }
}
</script>
