<template>
  <div>
    <el-row :gutter="16">
      <el-col :span="12">
        <el-input v-model="filters[0].value"
                  placeholder="Filtrer par numéro d'inscription, type de transaction, numéro de lot"/>
      </el-col>
      <el-col :span="12">
        <el-select v-model="filters[1].value" class="full-width" placeholder="Filtrer par état" multiple="multiple">
          <el-option v-for="(status, index) in actStatusEntry" :key="index" :label="status" :value="status"/>
        </el-select>
      </el-col>
    </el-row>
    <data-tables :data="lots" :filters="filters" class="full-width margin-vertical" :props="props">
      <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label" :key="title.prop"
                       sortable="custom"/>
      <el-table-column
        label="Actions"
        width="250" align="center">
        <template slot-scope="scope">
          <el-button
            v-if="actionButtonsVisible(scope.row)"
            icon="el-icon-share" title="Cloner l'acte"
            size="small" type="warning"
            @click="clone(scope.row)"/>
          <el-button
            v-if="canCorrect(scope.row)"
            icon="el-icon-edit-outline" title="Vérifier la saisie"
            type="info" size="small"
            @click="correct(scope.row)"/>
          <el-button
            v-if="canPublish(scope.row) && actionButtonsVisible(scope.row)"
            icon="el-icon-check" title="Publier l'acte"
            type="warning" size="small"
            @click="publish(scope.row)"/>
          <el-button
            v-if="actionButtonsVisible(scope.row)"
            icon="el-icon-edit" title="Saisir l'acte"
            type="primary" size="small"
            @click="edit(scope.row)"/>
          <label v-else>{{ scope.row.status + ' par ' + (scope.row.status === actStatus.BEING_PROCESSED ?
            scope.row.beingProcessedBy.actionDescription : scope.row.beingCorrectedBy.actionDescription)}}</label>
          <el-button
            v-if="isAdmin && actionButtonsVisible(scope.row)"
            icon="el-icon-delete" title="Supprimer l'acte"
            type="danger" size="small"
            @click="remove(scope.row)"/>
          <el-button
            v-if="actionButtonsVisible(scope.row)"
            icon="el-icon-view" title="Détails l'acte"
            size="small" type="default"
            @click="detailsAct(scope.row)"/>
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>

<script>
import { Loading } from 'element-ui'
import { mapGetters } from 'vuex'
import { actStatus, actStatusEntry } from '../../core/models/acts/enum/acts-status'
import { arrayHadString, cleanObject } from '../../core/helpers'

const titles = [
  {prop: 'act.inscriptionNumber', label: 'Numéro d\'inscription'},
  {prop: 'act.transactionType', label: 'Type de transaction'},
  {prop: 'lotNumber', label: 'Numéro du lot'},
  {prop: 'status', label: 'Etat'}
]

export default {
  name: 'ActTable',
  props: ['lots'],
  data () {
    return {
      actStatus,
      actStatusEntry,
      titles,
      props: {
        stripe: true,
        border: true,
        maxHeight: '500'
      },
      filters: [
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.act.inscriptionNumber,
              row.act.transactionType,
              row.lotNumber
            ], filterItem.value)
          }
        }, {
          value: [],
          prop: 'status'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/getCurrentUser'
    }),
    role: function () {
      return this.user.role
    },
    isAdmin: function () {
      return this.user.role === 'Administrateur'
    }
  },
  methods: {
    actionButtonsVisible (lot) {
      if (lot.locked) {
        if (lot.beingProcessedBy) {
          return lot.beingProcessedBy.uid === this.user.uid
        } else {
          return false
        }
      }
      return true
    },
    canProcess (lot) {
      return lot.status === actStatus.NEW || lot.status === actStatus.RETURNED
    },
    canCorrect (lot) {
      return lot.status === actStatus.PROCESSED
    },
    canPublish (lot) {
      return lot.status === actStatus.PROCESSED || lot.status === actStatus.CORRECTED
    },
    process (lot) {
      let loadingInstance = Loading.service({target: '#content'})
      lot.startProcess({user: cleanObject(this.user)})
        .then(() => {
          loadingInstance.close()
          this.edit(lot)
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    },
    correct (lot) {
      let loadingInstance = Loading.service({target: '#content'})
      lot.startCorrection({user: cleanObject(this.user)})
        .then(() => {
          loadingInstance.close()
          this.edit(lot)
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    },
    publish (lot) {
      let loadingInstance = Loading.service({target: '#content'})
      lot.publish({user: cleanObject(this.user)})
        .then(() => {
          loadingInstance.close()
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    },
    detailsAct (lot) {
      this.$router.push({name: 'lot-details', params: {id: lot.id}})
    },
    clone (lot) {
      this.$router.push({name: 'lot-process', params: {id: lot.id, action: 'clone'}})
    },
    edit (lot) {
      let loadingInstance = Loading.service({target: '#content'})
      lot.startProcess({user: cleanObject(this.user)}).then(doc => {
        loadingInstance.close()
        this.$router.push({name: 'lot-process', params: {id: doc.id}})
      }).catch(error => {
        console.log(error)
      })
    },
    remove (lot) {
      this.$confirm('Voulez vous supprimer cet acte de façon définitive. Continuer ?', 'Attention', {
        confirmButtonText: 'Continuer',
        cancelButtonText: 'Annuler',
        type: 'warning'
      }).then(() => {
        let loadingInstance = Loading.service({target: '#content'})
        lot.delete().then(() => {
          loadingInstance.close()
          this.$message.success('Acte supprimé avec succès...')
        }).catch(error => {
          console.log(error)
          loadingInstance.close()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Suppression annulée...'
        })
      })
    }
  }
}
</script>
