<template>
  <div class="act-form" id="content">
    <div class="right-text">
      <a target="_blank" v-if="act.attachment" :href="act.attachment.file.url">Voir l'acte foncier</a>
    </div>
    <el-form ref="form" :model="act">
      <fieldset>
        <legend>Identification de l'unité d'évaluation</legend>
        <el-row :gutter="16">
          <!-- basic info -->
          <el-col :span="24">
            <el-form-item label="Type de transaction" prop="transactionType" label-width="140px">
              <el-select v-model="act.transactionType" filterable style="width: 100%"
                         placeholder="merci de sélectionner le type de transaction">
                <el-option
                  v-for="(transaction, index) in records"
                  :key="index"
                  :label="transaction"
                  :value="transaction"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Numéro d'inscription" prop="inscriptionNumber" label-width="140px">
              <el-input v-model="act.inscriptionNumber"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Date d'inscription" prop="inscriptionDate" label-width="120px">
              <el-date-picker type="date" placeholder="choisir une date" v-model="act.inscriptionDate"
                              style="width: 100%"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Echéance" prop="deadline" label-width="70px">
              <el-date-picker type="date" placeholder="choisir une date" v-model="act.deadline"
                              style="width: 100%;"/>
            </el-form-item>
          </el-col>
          <!-- /basic info -->
          <!-- administrative info -->
          <el-col :span="8">
            <el-form-item label="Catégorie" prop="category" label-width="70px">
              <el-select v-model="act.category" filterable style="width: 100%"
                         placeholder="merci de sélectionner la catégories">
                <el-option
                  v-for="(category, index) in categories"
                  :key="index"
                  :label="category.name"
                  :value="category.name"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Ville" prop="city" label-width="40px">
              <el-select v-model="act.city" filterable style="width: 100%"
                         placeholder="merci de sélectionner la ville">
                <el-option
                  v-for="(city, index) in cities"
                  :key="index"
                  :label="city.name"
                  :value="city.name"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Bureau" prop="office" label-width="50px">
              <el-select v-model="act.office" filterable style="width: 100%"
                         placeholder="merci de sélectionner l'office">
                <el-option
                  v-for="(office, index) in offices"
                  :key="index"
                  :label="office.name"
                  :value="office.name"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Matricule" label-width="70px">
              <el-input v-model="act.registrationNumber"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Dossier n°" label-width="80px">
              <el-input v-model="act.folderNumber"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Numéro d'unité de voisinage" label-width="180px">
              <el-input v-model="act.neighborhoodUnitNumber"/>
            </el-form-item>
          </el-col>
          <!-- /administrative info -->
          <!-- propriety info -->
          <el-col :span="24" style="padding: 0">
            <el-col :span="8">
              <el-form-item label="Propriétaire / Acquéreur" label-width="160px">
                <el-select v-model="owner.category" filterable style="width: 100%">
                  <el-option
                    v-for="(category, index) in ownersCategories"
                    :key="index"
                    :label="category"
                    :value="category"/>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="16">
              <el-form-item>
                <el-input v-model="owner.name"/>
              </el-form-item>
            </el-col>
          </el-col>
          <el-col :span="24" style="padding: 0">
            <el-col :span="8">
              <el-form-item label="Créancier / Vendeur" label-width="160px">
                <el-select v-model="seller.category" filterable style="width: 100%">
                  <el-option
                    v-for="(category, index) in sellersCategories"
                    :key="index"
                    :label="category"
                    :value="category"/>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="16">
              <el-form-item>
                <el-input v-model="seller.name"/>
              </el-form-item>
            </el-col>
          </el-col>
          <el-col :span="24" style="padding: 0">
            <el-col :span="8">
              <el-form-item label="Juriste" label-width="160px">
                <el-select v-model="jurist.category" filterable style="width: 100%">
                  <el-option
                    v-for="(category, index) in juristsCategories"
                    :key="index"
                    :label="category"
                    :value="category"/>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="16">
              <el-form-item>
                <el-input v-model="jurist.name"/>
              </el-form-item>
            </el-col>
          </el-col>
          <!-- /propriety info -->
        </el-row>
      </fieldset>
      <fieldset class="margin-top">
        <legend>Adresse(s) de l'unité d'évaluation</legend>
        <el-row :gutter="16" v-for="(address, index) in addresses" :key="index">
          <el-col :span="24">
            <el-form-item label="N° de lot" label-width="110px">
              <el-input v-model="address.lotNumber"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Arrondissement" label-width="110px">
              <el-input v-model="address.district"/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Adresse" label-width="60px">
              <el-input v-model="address.address"/>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="Code postal" label-width="90px">
              <el-input v-model="address.zipCode"/>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="Type de bien" label-width="110px">
              <el-checkbox-group v-model="address.categories">
                <el-checkbox label="Zonage Agricole"/>
                <el-checkbox label="Terrain"/>
                <el-checkbox label="Bungalow"/>
                <el-checkbox label="Cottage"/>
                <el-checkbox label="Plain-pied"/>
                <el-checkbox label="Duplex"/>
                <el-checkbox label="Triplex"/>
                <el-checkbox label="Split-level"/>
                <el-checkbox label="Semi détaché"/>
                <el-checkbox label="Maison mobile"/>
              </el-checkbox-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item class="right-text" v-if="index > 0">
              <el-button type="warning" @click="removeAddress(index)">Supprimer l'adresse</el-button>
            </el-form-item>
            <hr>
          </el-col>
        </el-row>
        <div class="center-text">
          <el-form-item>
            <el-button type="primary" @click="addAddress">Ajouter une adresse</el-button>
          </el-form-item>
        </div>
      </fieldset>
      <fieldset class="margin-top">
        <legend>Caractéristiques de l'unité d'évaluation</legend>
        <el-row :gutter="16">
          <el-col :span="8">
            <el-form-item label="Année de construction" label-width="170px">
              <el-input v-model="act.constructionYear"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Superficie du terrain" label-width="170px">
              <el-input v-model="act.fieldArea"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Superficie du bâtiment" label-width="170px">
              <el-input v-model="act.buildingArea"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Nombre d'étages" label-width="170px">
              <el-input v-model="act.floorsNumber"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Nombre de logements" label-width="170px">
              <el-input v-model="act.housingsNumber"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Nombre de locaux commerciaux" label-width="220px">
              <el-input v-model="act.commercialPremisesNumber"/>
            </el-form-item>
          </el-col>
        </el-row>
      </fieldset>
      <fieldset class="margin-top">
        <legend>Valeurs aux rôles d'évaluation</legend>
        <el-row :gutter="16">
          <el-col :span="8">
            <el-form-item label="Valeur du terrain" label-width="170px">
              <el-input v-model="act.landValue"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Valeur du bâtiment" label-width="170px">
              <el-input v-model="act.constructionValue"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Valeur de l'immeuble" label-width="170px">
              <el-input v-model="act.buildingValue"/>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="Montant" label-width="170px">
              <el-input v-model="act.value"/>
            </el-form-item>
          </el-col>
        </el-row>
      </fieldset>
      <fieldset class="margin-top">
        <legend>Autres</legend>
        <el-form-item label="Image" label-width="170px">
          <input style="width: 100%" type="file" name="document" id="document">
          <img v-if="act.img" style="max-height: 250px" :src="act.img.file.url" class="margin-top"/>
        </el-form-item>
        <el-form-item label="Emplacement sur la carte" label-width="170px">
          <!--
          <el-input v-model="act.mapUrl"/>
          <el-input v-model="geoPoint.latitude"/>
          <el-input v-model="geoPoint.longitude"/>
          -->
          <mapbox
            access-token="pk.eyJ1IjoibW91ZWRoZW4iLCJhIjoiY2pqOGp3czRrMm51bzNwcWdjZW9heDh5cSJ9.M7AvNbb1mTE5SnR2SB99dA"
            @map-load="mapLoaded"
            @map-click="mapClicked"
            :map-options="{
              style: 'mapbox://styles/mapbox/streets-v9',
              center: [-71.2079809, 46.8138783],
              zoom: 12
            }"
            :geolocate-control="{
              show: true,
              position: 'top-left'
            }">
          </mapbox>
        </el-form-item>
        <el-form-item label="Commentaires" label-width="170px">
          <el-input v-model="act.comment" type="textarea"/>
        </el-form-item>
      </fieldset>
      <el-form-item class="margin-top center-text">
        <el-button @click="cancel">Annuler</el-button>
        <el-button @click="save">Sauvegarder</el-button>
        <el-button v-if="act.status === actStatus.BEING_PROCESSED" @click="saveAndProcess">
          Sauvegarder et transférer en correction
        </el-button>
        <el-button v-if="act.status === actStatus.BEING_CORRECTED" @click="saveAndProcess">
          Sauvegarder et transférer en vérification
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { Loading } from 'element-ui'
// import pdf from 'vue-pdf'
import Mapbox from 'mapbox-gl-vue'

import { ownersCategories } from '../../../models/acts/const/owners-categories'
import { sellersCategories } from '../../../models/acts/const/sellers-categories'
import { juristsCategories } from '../../../models/acts/const/jurists-categories'

import Category from '../../../models/config/category'
import City from '../../../models/config/city'
import Office from '../../../models/config/office'

import Address from '../../../models/acts/classes/address'
import { actStatus } from '../../../models/acts/enum/acts-status'
import Document from '../../../models/core/document'
import Attachment from '../../../models/acts/classes/attachment'
import { mapGetters } from 'vuex'
import { roles } from '@/models/core/helpers'
export default {
  name: 'ActForm',
  props: ['act', 'owner', 'seller', 'jurist', 'addresses', 'geoPoint'],
  components: {Mapbox},
  data () {
    return {
      ownersCategories,
      sellersCategories,
      juristsCategories,
      actStatus,
      categories: [],
      cities: [],
      offices: [],
      // eslint-disable-next-line no-undef
      marker: new mapboxgl.Marker()
    }
  },
  computed: {
    ...mapGetters({
      role: 'getRole',
      transactionsTypes: 'transactionType/getAll'
    }),
    records: function () {
      var rec = []
      this.transactionsTypes.forEach(tr => {
        rec.push(tr.type)
      })
      rec.sort()
      return rec
    }
  },
  methods: {
    mapLoaded (map) {
      if (this.geoPoint.latitude !== null) {
        this.marker.setLngLat([this.geoPoint.longitude, this.geoPoint.latitude]).addTo(map)
        map.flyTo({center: this.marker.getLngLat()})
      }
    },
    mapClicked (map, e) {
      this.marker.setLngLat([e.lngLat.lng, e.lngLat.lat]).addTo(map)
      this.geoPoint.latitude = this.marker.getLngLat().lat
      this.geoPoint.longitude = this.marker.getLngLat().lng
      this.act.setGeoPoint(this.geoPoint)
    },
    initData () {
      this.$store.dispatch('transactionType/syncCollection')
        .catch(e => {
          console.log(e)
        })
      (new Category({})).fetchAll()
        .then(categories => {
          this.categories = categories
        });
      (new City({})).fetchAll()
        .then(cities => {
          this.cities = cities
        });
      (new Office({})).fetchAll()
        .then(offices => {
          this.offices = offices
        })
    },
    fillAct () {
      this.act.setAddresses(this.addresses)
      this.act.setOwner(this.owner)
      this.act.setSeller(this.seller)
      this.act.setJurist(this.jurist)
      this.act.setJurist(this.jurist)
    },
    save () {
      let loadingInstance = Loading.service({target: '#content'})
      let fileInput = document.querySelector('#document')
      let doc = fileInput.files[0]
      this.fillAct()
      if (doc !== undefined) {
        this.attachImage(doc, fileInput)
          .then(() => {
            this.act.save()
              .then(() => {
                loadingInstance.close()
                this.$router.push({name: 'acts-list'})
              })
              .catch(error => {
                console.log(error)
                loadingInstance.close()
              })
          })
      } else {
        this.act.save()
          .then(() => {
            loadingInstance.close()
            this.$router.push({name: 'acts-list'})
          })
          .catch(error => {
            console.log(error)
            loadingInstance.close()
          })
      }
    },
    saveAndProcess () {
      let loadingInstance = Loading.service({target: '#content'})
      let fileInput = document.querySelector('#document')
      let doc = fileInput.files[0]
      this.fillAct()
      if (doc !== undefined) {
        this.attachImage(doc, fileInput)
          .then(() => {
            this.act.save()
              .then(() => {
                loadingInstance.close()
                this.$router.push({name: 'acts-list'})
              })
              .catch(error => {
                console.log(error)
                loadingInstance.close()
              })
          })
      } else {
        if (this.act.status === actStatus.BEING_PROCESSED) {
          this.act.endProcess()
            .then(() => {
              loadingInstance.close()
              this.$router.push({name: 'acts-list'})
            })
            .catch(error => {
              console.log(error)
              loadingInstance.close()
            })
        } else if (this.act.status === actStatus.BEING_CORRECTED) {
          this.act.endCorrection()
            .then(() => {
              loadingInstance.close()
              this.$router.push({name: 'acts-list'})
            })
            .catch(error => {
              console.log(error)
              loadingInstance.close()
            })
        } else {
          this.act.save().then(() => {
            loadingInstance.close()
            this.$router.push({name: 'acts-list'})
          })
        }
      }
    },
    cancel () {
      let loadingInstance = Loading.service({target: '#content'})
      this.fillAct()
      if (this.act.status === actStatus.BEING_PROCESSED) {
        this.act.cancelProcess()
          .then(() => {
            loadingInstance.close()
            this.$router.push({name: 'acts-list'})
          })
          .catch(error => {
            console.log(error)
            loadingInstance.close()
          })
      } else if (this.act.status === actStatus.BEING_CORRECTED) {
        this.act.cancelCorrection()
          .then(() => {
            loadingInstance.close()
            if (this.role === roles.VERIFICATION_OFFICIER.designation) {
              this.$router.replace({name: 'verifications'})
            } else {
              this.$router.push({name: 'acts-list'})
            }
          })
          .catch(error => {
            console.log(error)
            loadingInstance.close()
          })
      } else {
        this.act.save().then(() => {
          loadingInstance.close()
          this.$router.push({name: 'acts-list'})
        })
      }
    },
    attachImage (doc, fileInput) {
      // let fileInput = document.querySelector('#document')
      // let doc = fileInput.files[0]
      let loadingInstance = Loading.service({target: '#content'})
      let file = new Document({file: doc})
      return file.uploadFile().then(result => {
        fileInput.value = ''
        let attachment = new Attachment({})
        attachment.setFile(result)
        this.act.setImg(attachment)
        loadingInstance.close()
      }).catch(error => {
        switch (error.code) {
          case 'storage/unauthorized':
            this.$message.error('Vous n\'êtes pas autorisé à effectuer cette action...')
            break
          case 'storage/canceled':
            this.$message.info('Action annulée par l\'utilisateur...')
            break
          case 'storage/unknown':
            this.$message.error('Une erreur inconnue est survenue, merci de contacter votre administrateur...')
            break
        }
        console.log(error)
        loadingInstance.close()
      })
    },
    addAddress () {
      this.addresses.push(new Address({}))
    },
    removeAddress (index) {
      this.addresses.splice(index, 1)
    }
  },
  mounted () {
    this.initData()
  }
}
</script>
