<template>
  <div>
    <dt>{{title|capitalize}}</dt>
    <dd v-if="checkNotDefined(description)">
      {{description}}
    </dd>
    <dd v-else>N/D</dd>
  </div>
</template>

<script>
export default {
  name: 'TitleDescription',
  props: ['title', 'description'],
  methods: {
    checkNotDefined (value) {
      return value !== undefined && value !== null && value.toLowerCase() !== 'non disponible' && value !== 0 && value !== '0' && value.toLowerCase() !== 'non déclarè'
    }
  }
}
</script>

<style scoped>
  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
    padding: 0 0 0.5rem 0;
    line-height: 1.8rem;
  }

  dt, dd {
    font-size: 1rem !important;
  }

  dt {
    /*color: #7e7e7e;*/
    color: #222222;
  }

  dd {
    color: #222222;
  }
</style>
