<template>
  <admin-layout>
    <el-card class="margin-top">
      <h2>Mes Favoris</h2>
      <el-row :gutter="16">
        <el-col :span="20">
          <el-input
            v-model="filters[0].value"
            placeholder="Chercher mes favoris par numéro d'inscription/type de transaction/créancier/Propriétaire/juriste..."/>
        </el-col>
        <el-col :span="4">
          <el-button type="success" style="width: 100%" @click="downloadData" icon="el-icon-download" plain>Exporter mes favoris</el-button>
        </el-col>
      </el-row>
      <br>
      <data-tables
        ref="dataTable"
        :data="records"
        :filters="filters"
        :table-props="props"
        :page-size="200"
        :pagination-props="{pageSizes: [20, 50, 100, 200, 400, 800]}"
        style="width: 100%">
        <el-table-column type="expand">
          <template slot-scope="props">
            <row-details :lot="props.row"/>
          </template>
        </el-table-column>
        <el-table-column label="Type de transaction" prop="act.transactionType" width="170" sortable/>
        <el-table-column label="Date d'inscription" prop="act.inscriptionDate" width="120" align="center" sortable
                         :sort-method="sortByInscriptionDate">
          <template slot-scope="scope">
            <span v-if="typeof scope.row.act.inscriptionDate === 'string'">{{ scope.row.act.inscriptionDate}}</span>
            <span v-else>{{ scope.row.act.inscriptionDate|convertTimestamp2DateString }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Débiteur" prop="act.owner.name" width="250" sortable/>
        <el-table-column label="Désignation" prop="address" sortable>
          <template slot-scope="scope">
            <span v-if="scope.row.address.address">{{scope.row.address.address}}</span>
            <span v-if="scope.row.category">, {{scope.row.category}}</span>
            <span v-if="scope.row.address.address2">, {{scope.row.address.address2}}</span>
            <span v-if="scope.row.address.zipCode">, {{scope.row.address.zipCode}}</span>
          </template>
        </el-table-column>
        <el-table-column label="Ville" prop="address.city" width="150" sortable/>
        <el-table-column label="Créancier" prop="act.seller.name" width="200" sortable/>
        <el-table-column label="Montant en .$" prop="value" :sort-method="sortByValue" width="180px"
                         align="center" sortable>
          <template slot-scope="scope">
            <div
              v-if="scope.row.value !== undefined && scope.row.value !== 0 && scope.row.value !== null && scope.row.value !== '0'">
              {{parseFloat(scope.row.value).toLocaleString('fr')}} .$
            </div>
            <div v-else>N/D</div>
          </template>
        </el-table-column>
      </data-tables>
    </el-card>
  </admin-layout>
</template>

<script>
import AdminLayout from '../../../layouts/admin/AdminLayout'
import { mapGetters } from 'vuex'
import { arrayHadString, downloadModelUsExls } from '../../../core/helpers'
import RowDetails from './../../../components/acts/RowDetails'
import moment from 'moment'
import { flatLot } from '../../../core/models/acts/lot'
moment.locale('fr')

export default {
  name: 'FavoritesIndex',
  components: {AdminLayout, RowDetails},
  data () {
    return {
      pov: null,
      pano: null,
      filters: [
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.act.inscriptionNumber,
              row.act.transactionType,
              row.act.ownerDisplay,
              row.act.sellerDisplay,
              row.act.juristDisplay
            ], filterItem.value)
          }
        }
      ],
      props: {
        stripe: true,
        border: true,
        maxHeight: '500'
      }
    }
  },
  computed: {
    ...mapGetters({
      publications: 'publications/getAll',
      favorites: 'favorites/getAll',
      purchases: 'purchases/getAll',
      customer: 'users/getCurrentCustomer'
    }),
    records: function () {
      return this.publications.filter(publication => {
        return this.isFavorite(publication)
      })
    }
  },
  watch: {
    customer: function (val) {
      if (val.id) {
        this.initData()
        this.loading = false
      }
    }
  },
  mounted () {
    this.syncData()
  },
  methods: {
    downloadData () {
      let json = this.$refs.dataTable.tableData
      downloadModelUsExls(json.map(e => flatLot(e)), 'nominis-recours-fonciers-' + new Date().toISOString().substring(0, 10))
    },
    initData () {
      this.$store.dispatch('favorites/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
      this.$store.dispatch('purchases/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
    },
    syncData () {
      this.$store.dispatch('publications/syncCollection')
        .catch(e => {
          console.log(e)
        })
    },
    isFavorite (publication) {
      var publicationsIds = []
      this.favorites.forEach(favorite => {
        publicationsIds.push(favorite.lotId)
      })
      let publicationIdIndex = publicationsIds.findIndex(publicationId => {
        return publication.id === publicationId
      })
      return publicationIdIndex > -1
    },
    updatePov (pov) {
      if (pov) this.pov = pov
    },
    updatePano (pano) {
      if (pano) this.pano = pano
    }
  }
}
</script>
