<template>
  <public-layout v-loading="loading">
    <div style="padding: 1rem" :id="'act_' + lot.id">
      <div class="visible-on-print" style="text-align: right">
        <img src="../../../assets/nominis_logo.png" style="height: 50px;"/>
      </div>
      <div class="visible-on-print" style="text-align: center">
        <img src="../../../assets/nominis-print.png" style="height: 60px;"/>
      </div>
      <div class="center-text">
        <h2 v-if="lot.lotNumber">Lot N° {{lot.lotNumber}}</h2>
        <h2 v-else>Lot N° -</h2>
      </div>
      <fieldset class="margin-top" v-bind:class="'act_' + lot.id">
        <legend>Identification de la transaction</legend>
        <el-row :gutter="16">
          <el-col :span="24">
            <title-description title="Type de transaction" :description="lot.act.transactionType"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Numéro d'inscription" :description="lot.act.inscriptionNumber"/>
          </el-col>
          <el-col :span="16">
            <title-description title="Date d'inscription"
                               :description="lot.act.inscriptionDate"/>
          </el-col>
          <!-- <el-col :span="8">
            <title-description title="Date d'échéance" :description="lot.act.deadline|convertTimestamp2DateString"/>
          </el-col> -->
          <el-col :span="8">
            <title-description title="Matricule" :description="lot.registrationNumber"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Circonscription" :description="lot.office"/>
          </el-col>

          <el-col :span="8">
            <title-description title="Région" :description="lot.category"/>
          </el-col>
          <el-col :span="24">
            <title-description title="Débiteur" :description="lot.act.owner|personToString"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Numéro de téléphone" :description="lot.act.owner.phoneNumber"/>
          </el-col>
          <el-col :span="16">
            <title-description title="Facebook" :description="lot.act.owner.facebook"/>
          </el-col>
          <el-col :span="24">
            <title-description title="Créancier" :description="lot.act.seller|personToString"/>
          </el-col>
          <el-col :span="24">
            <title-description title="Juriste" :description="lot.act.jurist|personToString"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Numéro du lot" :description="lot.lotNumber"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Numéro du dossier" :description="lot.folderNumber"/>
          </el-col>
          <el-col :span="8">
            <title-description title="N° d'unité de voisinage" :description="lot.neighborhoodUnitNumber"/>
          </el-col>
        </el-row>
      </fieldset>
      <fieldset class="margin-top" v-bind:class="'act_' + lot.id">
        <legend>Adresse de l'unité</legend>
        <el-row :gutter="16">
          <el-col :span="8">
            <title-description title="Adresse" :description="lot.address.address"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Ville" :description="lot.address.city"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Province" :description="lot.address.address2"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Arrondissement" :description="lot.address.district"/>
          </el-col>
          <el-col :span="16">
            <title-description title="Code postal" :description="lot.address.zipCode"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Type de zonage" :description="lot.address.zoningType"/>
          </el-col>
          <el-col :span="16">
            <title-description title="Type de bien" :description="lot.address.categories|arrayToString"/>
          </el-col>
        </el-row>
      </fieldset>
      <fieldset class="margin-top" v-bind:class="'act_' + lot.id">
        <legend>Caractéristiques de l'unité d'évaluation</legend>
        <el-row :gutter="16">
          <el-col :span="8">
            <title-description title="Année de construction" :description="lot.constructionYear"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Superficie du terrain" :description="lot.fieldArea"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Superficie du bâtiment" :description="lot.buildingArea"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Nombre d'étages" :description="lot.floorsNumber"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Nombre de logements" :description="lot.housingsNumber"/>
          </el-col>
          <el-col :span="8">
            <title-description title="Nombre de locaux commerciaux" :description="lot.commercialPremisesNumber"/>
          </el-col>
        </el-row>
      </fieldset>
      <fieldset class="margin-top" v-bind:class="'act_' + lot.id">
        <legend>Valeurs aux rôles d'évaluation</legend>
        <el-row :gutter="16">
          <el-col :span="6">
            <title-description v-if="lot.landValue" title="Valeur du terrain"
                               :description="parseFloat(lot.landValue).toLocaleString('fr')+ ' .$'"/>
            <title-description v-else title="Valeur du terrain" description="N/D"/>
          </el-col>
          <el-col :span="6">
            <title-description v-if="lot.constructionValue" title="Valeur du bâtiment"
                               :description="parseFloat(lot.constructionValue).toLocaleString('fr')+ ' .$'"/>
            <title-description v-else title="Valeur du bâtiment" description="N/D"/>
          </el-col>
          <el-col :span="6">
            <title-description v-if="lot.buildingValue" title="Valeur de l'immeuble"
                               :description="parseFloat(lot.buildingValue).toLocaleString('fr')+ ' .$'"/>
            <title-description v-else title="Valeur de l'immeuble" description="N/D"/>
          </el-col>
          <el-col :span="6">
            <title-description
              v-if="lot.value !== undefined && lot.value !== 0 && lot.value !== null && lot.value !== '0'  && lot.value.toLowerCase() !== 'non déclarè'"
              title="Montant en .$"
              :description="parseFloat(lot.value).toLocaleString('fr')+ ' .$'"/>
            <title-description v-else title="Montant du recour" description="N/D"/>
          </el-col>
        </el-row>
      </fieldset>
      <fieldset v-if="lot.comment" class="margin-top" v-bind:class="'act_' + lot.id">
        <legend>Notes</legend>
        <p>{{lot.comment}}</p>
      </fieldset>
      <!-- <div class="margin-top right-text no-print">
        <el-button v-if="favorite.isFavorite" type="success" @click="removeFromFavorites"
                   style="text-transform: uppercase" icon="el-icon-star-on"></el-button>
        <el-button v-else type="warning" @click="add2Favorites" style="text-transform: uppercase"
                   icon="el-icon-star-off"></el-button>

        <el-button type="primary" @click="viewAct">Consulter l'acte</el-button>
        <el-button type="success" @click="printAct">Imprimer l'acte</el-button>
        <el-button type="success" @click="actDetails">Détails de l'acte</el-button>
      </div> -->
      <div class="margin-top do-not-break-at-print" v-if="latitude && longitude">
        <mapbox
          ref="map"
          access-token="pk.eyJ1IjoibW91ZWRoZW4iLCJhIjoiY2pqOGp3czRrMm51bzNwcWdjZW9heDh5cSJ9.M7AvNbb1mTE5SnR2SB99dA"
          @map-load="mapLoaded"
          :map-options="{
              style: 'mapbox://styles/mapbox/streets-v9',
              center: [longitude, latitude],
              zoom: 12
            }"
          :geolocate-control="{
              show: false,
              position: 'top-left'
            }">
        </mapbox>
      </div>
      <div class="margin-top do-not-break-at-print" v-if="latitude && longitude">
        <gmap-street-view-panorama
          ref="pano"
          class="pano"
          :position="{lat: latitude, lng: longitude}"
          :pov="pov" :zoom="1" @pano_changed="updatePano" @pov_changed="updatePov"/>
      </div>
    </div>
  </public-layout>
</template>

<script>
// import { Loading } from 'element-ui'
import Lot from '../../../core/models/acts/lot'

import Mapbox from 'mapbox-gl-vue'
import PublicLayout from '../../../layouts/public/PublicLayout'
import TitleDescription from '../../../components/core/TitleDescription'

export default {
  name: 'PublicationsDetails',
  components: {PublicLayout, Mapbox, TitleDescription},
  data () {
    return {
      lot: new Lot({}),
      // eslint-disable-next-line no-undef
      marker: new mapboxgl.Marker(),
      mapStyle: 'streets',
      pov: null,
      pano: null,
      loading: true
    }
  },
  computed: {
    map: function () {
      if (!this.$refs.map) return null
      return this.$refs.map._map
    },
    latitude: function () {
      return this.lot.geoPoint.latitude
    },
    longitude: function () {
      return this.lot.geoPoint.longitude
    }
  },
  filters: {
    personToString (person) {
      return person.name
    },
    userToString (user) {
      if (user.firstName && user.lastName) {
        return user.firstName + ' ' + user.lastName
      } else if (!user.firstName && user.lastName) {
        return user.lastName
      } else if (user.firstName && !user.lastName) {
        return user.firstName
      } else {
        return user.uid
      }
    }
  },
  methods: {
    initData () {
      console.log(this.$route.params)
      if (this.$route.params.id) {
        // let loadingInstance = Loading.service({target: '#content'})
        new Lot({}).fetch(this.$route.params.id)
          .then(record => {
            this.lot = record
            // loadingInstance.close()
          })
          .catch(e => {
            // loadingInstance.close()
            console.log(e)
          })
      }
    },

    updatePov (pov) {
      if (pov) this.pov = pov
    },
    updatePano (pano) {
      if (pano) this.pano = pano
    },
    mapLoaded (map) {
      if (this.latitude !== null) {
        this.marker.setLngLat([this.longitude, this.latitude]).addTo(map)
        map.flyTo({center: {lat: this.latitude, lng: this.longitude + 0.003}, zoom: 16, maxDuration: 50})
        this.loading = false
        if (this.$route.params.print) {
          setTimeout(function () {
            window.print()
          }, 1000)
        }
      }
    },
    changeMapStyle () {
      this.map.setStyle('mapbox://styles/mapbox/' + this.mapStyle + '-v9')
    }
  },
  mounted () {
    this.initData()
    if (this.$route.params.print) {
      window.addEventListener('afterprint', (e) => {
        window.close()
      })
    }
  }
}
</script>

<style scoped>
  .visible-on-print {
    display: none;
  }

  @media print {
    .visible-on-print {
      display: block;
    }
  }

  #map {
    height: 350px;
  }

  .pano {
    width: 100%;
    height: 350px;
  }

  legend {
    font-size: 1.2rem;
    color: #656565 !important;
  }

  dl {
    padding: .5rem;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
    padding: 0 0 0.5rem 0;
    line-height: 1.8rem;
  }

  p, dt, dd {
    font-size: 1rem !important;
    color: #222222;
  }

  p, dt {
    color: #222222;
  }

  dd {
    color: #7e7e7e;
  }
</style>
