<template>
  <public-layout>
    <div v-if="resumes" class="scroll-left">
      <marquee>
        <pre>{{resumes}}</pre>
      </marquee>
    </div>
    <div style="padding: 1rem" v-loading="loading">
      <el-card style="padding-bottom: 3rem">
        <h2>Recours fonciers +</h2>
        <el-row :gutter="16">
          <el-col :span="8">
            <el-input
              v-model="filters[0].value"
              placeholder="Chercher par numéro d'inscription/type de transaction/créancier/Propriétaire/juriste..."/>
          </el-col>
          <el-col :span="8">
            <el-input
              v-model="filters[1].value"
              placeholder="Rechercher par ville..."/>
          </el-col>
          <!--
          <el-col :span="8">
            <el-select default-first-option v-model="filters[1].value" class="full-width"
                       placeholder="Aujourd'hui">
              <el-option v-for="(duration, index) in durations" :key="index" :label="duration.designation"
                         :value="duration.label"/>
            </el-select>
          </el-col>
          -->
          <el-col :span="8">
            <el-date-picker type="daterange" range-separator="-" v-model="filters[2].value" format="dd-MM-yyyy"
                            style="width: 100%"/>
          </el-col>
        </el-row>
        <el-collapse>
          <el-collapse-item title="Tri à plusieurs critères">
            <el-row :gutter="16" style="background: #cccccc; padding: 8px">
              <el-col :span="20">
                <Container @drop="onDrop" orientation="horizontal">
                  <Draggable v-for="item in items" :key="item.id"
                             style="width: calc(33.333% - 12px); margin-right: 16px">
                    <div class="draggable-item" style="text-align: center">
                      <el-button icon="el-icon-rank" style="width: 100%">
                        {{item.data}}
                      </el-button>
                    </div>
                  </Draggable>
                </Container>
              </el-col>
              <el-col :span="4">
                <el-button @click="multiSortTable" type="primary" style="width: 100%">Trier les publications</el-button>
              </el-col>
            </el-row>
          </el-collapse-item>
        </el-collapse>
        <data-tables
          ref="dataTable"
          :data="publications"
          :filters="filters"
          :table-props="props"
          :page-size="200"
          :pagination-props="{pageSizes: [20, 50, 100, 200, 400, 800]}"
          style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <row-details :lot="props.row"/>
            </template>
          </el-table-column>
          <el-table-column label="Type de transaction" prop="act.transactionType" width="170" sortable/>
          <el-table-column label="Date d'inscription" prop="act.inscriptionDate" width="120" align="center" sortable
                           :sort-method="sortByInscriptionDate">
            <template slot-scope="scope">
              <span v-if="typeof scope.row.act.inscriptionDate === 'string'">{{ scope.row.act.inscriptionDate}}</span>
              <span v-else>{{ scope.row.act.inscriptionDate|convertTimestamp2DateString }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Débiteur" prop="act.owner.name" width="250" sortable/>
          <el-table-column label="Désignation" prop="address" sortable>
            <template slot-scope="scope">
              <span v-if="scope.row.address.address">{{scope.row.address.address}}</span>
              <span v-if="scope.row.category">, {{scope.row.category}}</span>
              <span v-if="scope.row.address.address2">, {{scope.row.address.address2}}</span>
              <span v-if="scope.row.address.zipCode">, {{scope.row.address.zipCode}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Ville" prop="address.city" width="150" sortable/>
          <el-table-column label="Créancier" prop="act.seller.name" width="200" sortable/>
          <el-table-column label="Montant en .$" prop="value" :sort-method="sortByValue" width="180px"
                           align="center" sortable>
            <template slot-scope="scope">
              <div
                v-if="scope.row.value !== undefined && scope.row.value !== 0 && scope.row.value !== null && scope.row.value !== '0'">
                {{parseFloat(scope.row.value).toLocaleString('fr')}} .$
              </div>
              <div v-else>N/D</div>
            </template>
          </el-table-column>
        </data-tables>
      </el-card>
    </div>
  </public-layout>
</template>

<script>
import { Container, Draggable } from 'vue-smooth-dnd'

import { mapGetters } from 'vuex'
import { arrayHadString } from '../../../core/helpers'
import PublicLayout from '../../../layouts/public/PublicLayout'
import RowDetails from './../../../components/acts/RowDetails'
import { durations } from '../../../core/models/customers/const/durations'
import moment from 'moment'
import { firstBy } from 'thenby'

const applyDrag = (arr, dragResult) => {
  const {removedIndex, addedIndex, payload} = dragResult
  if (removedIndex === null && addedIndex === null) return arr

  const result = [...arr]
  let itemToAdd = payload

  if (removedIndex !== null) {
    itemToAdd = result.splice(removedIndex, 1)[0]
  }

  if (addedIndex !== null) {
    result.splice(addedIndex, 0, itemToAdd)
  }

  return result
}

export default {
  name: 'Publications',
  components: {PublicLayout, RowDetails, Container, Draggable},
  data () {
    return {
      dateRange: null,
      multiSortOrder: 1,
      items: [
        {id: 0, data: 'Type de transaction'},
        {id: 1, data: 'Ville'},
        {id: 2, data: 'Montant en .$'}
      ],
      durations,
      loading: true,
      pov: null,
      pano: null,
      filters: [
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.act.inscriptionNumber,
              row.act.transactionType,
              row.act.ownerDisplay,
              row.act.sellerDisplay,
              row.act.juristDisplay
            ], filterItem.value)
          }
        },
        // {
        //   value: 3,
        //   filterFn: (row, filterItem) => {
        //     return true
        //     let inscriptionDate = row.act.inscriptionDate
        //     let difference = 0
        //     if (typeof inscriptionDate === 'string') {
        //       difference = moment(inscriptionDate, 'DD/MM/YYYY').diff(moment().subtract(filterItem.value, 'days').startOf('day')) / 3600000
        //     } else if (inscriptionDate !== undefined && inscriptionDate !== null) {
        //       if (inscriptionDate.seconds !== undefined && inscriptionDate.seconds !== null) {
        //         difference = moment(inscriptionDate.seconds * 1000).diff(moment().subtract(filterItem.value, 'days').startOf('day')) / 3600000
        //       }
        //     }
        //     return difference >= 0
        //   }
        // },
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.address.city
            ], filterItem.value)
          }
        },
        {
          value: [moment().subtract(7, 'days'), moment()],
          filterFn: (row, filterItem) => {
            let inscriptionDate = row.act.inscriptionDate
            if (filterItem.value && filterItem.value[0] && filterItem.value[1]) {
              if (inscriptionDate === null || inscriptionDate === undefined) return false
              return moment(inscriptionDate, 'DD/MM/YYYY').isBetween(
                moment(filterItem.value[0]),
                moment(filterItem.value[1]),
                'days',
                '[]'
              )
            }
            return true
          }
        }
      ],
      props: {
        stripe: true,
        border: true,
        maxHeight: '500'
      }
    }
  },
  watch: {
    customer: function (val) {
      if (val.id) {
        this.initData()
        this.loading = false
      }
    },
    user: function (val) {
      if (val.uid) {
        this.initData()
        this.loading = false
      }
    }
  },
  computed: {
    ...mapGetters({
      publications: 'publications/getAll',
      purchases: 'purchases/getAll',
      customer: 'users/getCurrentCustomer',
      user: 'users/getCurrentUser',
      favorites: 'favorites/getAll'
    }),
    resumes: function () {
      let resumeText = ''
      if (this.publications) {
        this.publications.forEach(publication => {
          if (publication.resume) {
            resumeText += publication.resume + '\t\t'
          }
        })
      }
      return resumeText.slice(0, -3)
    }
  },
  methods: {
    onDrop (dropResult) {
      this.items = applyDrag(this.items, dropResult)
    },
    sortByTransactionType (a, b) {
      if (a.act.transactionType === null) return -1
      if (b.act.transactionType === null) return 1
      if (a.act.transactionType.toLowerCase().replace(/ /g, '') < b.act.transactionType.toLowerCase().replace(/ /g, '')) return -1
      if (a.act.transactionType.toLowerCase().replace(/ /g, '') > b.act.transactionType.toLowerCase().replace(/ /g, '')) return 1
      return 0
    },
    sortByCity (a, b) {
      if (a.address.city === null) return -1
      if (b.address.city === null) return 1
      if (a.address.city.toLowerCase().replace(/ /g, '') < b.address.city.toLowerCase().replace(/ /g, '')) return -1
      if (a.address.city.toLowerCase().replace(/ /g, '') > b.address.city.toLowerCase().replace(/ /g, '')) return 1
      return 0
    },
    sortingFactory ({item, a, b}) {
      switch (item.id) {
        case 0 :
          return this.sortByTransactionType(a, b)
        case 1 :
          return this.sortByCity(a, b)
        case 2 :
          return this.sortByValue(a, b)
      }
    },
    multiSortTable () {
      this.multiSortOrder = -this.multiSortOrder
      console.log(this.multiSortOrder)
      let sorted = this.publications.sort(
        firstBy((a, b) => {
          return this.sortingFactory({item: this.items[0], a, b})
        }).thenBy((a, b) => {
          return this.sortingFactory({item: this.items[1], a, b})
        }).thenBy((a, b) => {
          return this.sortingFactory({item: this.items[2], a, b})
        }, this.multiSortOrder)
      )
      this.$refs.dataTable.$children[0].clearSort()
      this.$store.commit('publications/FETCH_ALL', sorted)
    },
    sortByInscriptionDate (a, b) {
      if (!a.act.inscriptionDate) {
        return -1
      }
      if (!b.act.inscriptionDate) {
        return 1
      }
      return moment(a.act.inscriptionDate, 'DD/MM/YYYY').diff(moment(b.act.inscriptionDate, 'DD/MM/YYYY'))
    },
    sortByValue (a, b) {
      let x, y
      if (typeof a.value === 'string') {
        x = parseFloat(a.value)
      } else {
        x = a.value
      }
      if (typeof b.value === 'string') {
        y = parseFloat(b.value)
      } else {
        y = b.value
      }
      if (x === 0) {
        return -1
      }
      if (y === 0) {
        return 1
      }
      return x - y
    },
    initData () {
      this.$store.dispatch('favorites/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
      this.$store.dispatch('purchases/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
    },
    updatePov (pov) {
      if (pov) this.pov = pov
    },
    updatePano (pano) {
      if (pano) this.pano = pano
    },
    syncData () {
      this.$store.dispatch('publications/syncCollection')
        .catch(e => {
          console.log(e)
        })
    }
  },
  mounted () {
    if (this.customer.id) {
      this.loading = false
    }
    if (this.user.uid) {
      this.loading = false
    }
    this.syncData()
  }
}
</script>
<style>
  .el-carousel__item p {
    color: #475669;
    font-size: 1rem;
    opacity: 0.75;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

  .scroll-left {
    z-index: 30;
    background: rgba(18, 130, 162, 1);
    color: #f2f2f2 !important;
    font-size: 1rem;
    height: 3rem;
    overflow: hidden;
    position: fixed;
    top: calc(100vh - 3rem);
    width: 100%;
  }

  .scroll-left pre {
  // position: absolute; width: 100%; height: 100%; margin: 0; line-height: 3rem; color: #f2f2f2 !important; text-align: center;
    /* Starting position */
  // -moz-transform: translateX(100%); // -webkit-transform: translateX(100%); // transform: translateX(100%);
    /* Apply animation to this element */
  // -moz-animation: scroll-left 60s linear infinite; // -webkit-animation: scroll-left 60s linear infinite; // animation: scroll-left 60s linear infinite;
  }

  /* Move it (define the animation) */
  @-moz-keyframes scroll-left {
    0% {
      -moz-transform: translateX(100%);
    }
    100% {
      -moz-transform: translateX(-100%);
    }
  }

  @-webkit-keyframes scroll-left {
    0% {
      -webkit-transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
    }
  }

  @keyframes scroll-left {
    0% {
      -moz-transform: translateX(100%); /* Browser bug fix */
      -webkit-transform: translateX(100%); /* Browser bug fix */
      transform: translateX(100%);
    }
    100% {
      -moz-transform: translateX(-100%); /* Browser bug fix */
      -webkit-transform: translateX(-100%); /* Browser bug fix */
      transform: translateX(-100%);
    }
  }
</style>
