<template>
  <public-layout style="padding-top: 39px">
    <el-row style="padding-top: 21px">
      <el-col :span="12">
        <div class="center-container">
          <div class="centred-content">
            <h1 style="text-transform: uppercase">Le Portail Nominis</h1>
            <h2 style="color: gray">Le Recours foncier +</h2>
          </div>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="center-container" style="background: #ffffff">
          <div class="centred-content" style="width: 90%; text-align: justify">
            <!-- <h3>Plate-forme dédiée à la recherche des recours commerciaux et résidentiels au Québec</h3>
            <p>
              Obtenez réponse à vos questions avec de l'information traitée et organisée de façon à vous simplifier la vie.
            </p> -->
            <h3>
              Plate-forme dédiée à la recherche des recours résidentiels au Québec
            </h3>
            <p>
              Obtenez réponse à vos questions avec de l'information traitée et organisée de façon à vous simplifier la vie.
            </p>
            <p>
              Recevez l’ensemble des recours résidentielles incluant les informations sur le bâtiment et sa localisation, photo et coordonnées principales lorsque disponible.
            </p>
            <h3>De l'information foncière enrichie !</h3>
            <!-- <h3>Soyez les premiers informés</h3>
            Notre système d'alertes automatisées vous informe par courriel aussitôt qu'une nouvelle transaction qui vous
            intéresse est rendue publique. -->
          </div>
        </div>
      </el-col>
    </el-row>
  </public-layout>
</template>

<script>
import PublicLayout from '../../layouts/public/PublicLayout'

export default {
  name: 'PublicIndex',
  components: {PublicLayout}
}
</script>

<style scoped>
  .center-container {
    height: calc(100vh - 60px); background: #f2f2f2; position: relative
  }
  .centred-content {
    top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; position: absolute
  }
</style>
