<template>
  <admin-layout>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Gestion des utilisateurs</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="right-text">
      <el-button type="primary" icon="el-icon-plus" circle @click="addUser"></el-button>
    </div>
    <el-card class="margin-top">
      <h2>Utilisateurs</h2>
      <el-row :gutter="16">
        <el-col :span="12">
          <el-input
            v-model="filters[0].value"
            placeholder="Chercher les utilisateurs par nom, prénom, téléphone ou email"/>
        </el-col>
        <el-col :span="12">
          <el-select v-model="filters[1].value" class="full-width" placeholder="filtrer par rôles" multiple="multiple">
            <el-option v-for="(role, index) in roles" :key="index" :label="role.designation" :value="role.designation"/>
          </el-select>
        </el-col>
      </el-row>
      <data-tables :data="users" @selection-change="handleSelectionChange" :filters="filters" :action-col="actionCol">
        <el-table-column width="200" prop="firstName" label="Prénom"/>
        <el-table-column width="200" prop="lastName" label="Nom"/>
        <el-table-column width="200" prop="email" label="Email"/>
        <el-table-column width="200" prop="phoneNumber" label="Téléphone"/>
        <el-table-column width="200" prop="role" label="Rôle"/>
        <el-table-column label="Activé" width="70">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.isActive" @change="changeActive(scope.$index, scope.row)"/>
          </template>
        </el-table-column>
        <el-table-column width="200" prop="createdAt" label="Ajouté le"/>
        <el-table-column width="200" prop="updatedAt" label="Modifié le"/>
      </data-tables>
    </el-card>
  </admin-layout>
</template>

<script>
import { Loading } from 'element-ui'
import { mapGetters } from 'vuex'
import AdminLayout from '../../../layouts/admin/AdminLayout'
import { roles } from '../../../core/models/users/const/roles'
import User from '../../../core/models/users/user'

export default {
  name: 'UsersIndex',
  components: {AdminLayout},
  computed: {
    ...mapGetters({
      users: 'users/getAll'
    })
  },
  data () {
    return {
      roles,
      filters: [
        {
          prop: ['firstName', 'lastName', 'email', 'phoneNumber', 'role'],
          value: ''
        },
        {
          value: [],
          prop: 'role'
        }
      ],
      actionCol: {
        props: {
          width: '150',
          fixed: 'right',
          align: 'center',
          label: 'Actions'
        },
        buttons: [
          {
            props: {
              type: 'primary',
              icon: 'el-icon-edit',
              size: 'small'
            },
            handler: row => {
              this.$router.push({name: 'update-user', params: {uid: row.uid}})
            }
          },
          {
            props: {
              type: 'danger',
              icon: 'el-icon-delete',
              size: 'small'
            },
            handler: row => {
              if (row.role === roles.ADMINISTRATOR.designation) {
                this.$message.error('Vous ne pouvez pas supprimer l\'administrateur')
              } else {
                this.$confirm('Voulez-vous supprimer cet utilisateur de façon définitive. Continuer ?', 'Attention', {
                  confirmButtonText: 'Continuer',
                  cancelButtonText: 'Annuler',
                  type: 'warning'
                }).then(() => {
                  let loadingInstance = Loading.service({target: '#content'})
                  new User({uid: row.uid}).remove()
                    .then(() => {
                      loadingInstance.close()
                      this.$message.success('L\'utilisateur a été supprimé avec succès...')
                    })
                    .catch(error => {
                      console.log(error)
                      loadingInstance.close()
                    })
                }).catch(() => {
                  this.$message.info('Suppression annulée')
                })
              }
            }
          }]
      },
      selectedRow: []
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    initData () {
      let loadingInstance = Loading.service({target: '#content'})
      this.$store.dispatch('users/syncCollection').then(() => {
        loadingInstance.close()
      }).catch(error => {
        console.log(error)
        loadingInstance.close()
      })
    },
    addUser () {
      this.$router.push({name: 'create-user'})
    },
    changeActive (index, row) {
      row.setActive(row.isActive)
    },
    handleSelectionChange (val) {
      this.selectedRow = val
    }
  }
}
</script>
