<template>
  <admin-layout id="#content">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Gestion des utilisateurs</el-breadcrumb-item>
      <el-breadcrumb-item v-if="user.uid">Modifier un utilisateur</el-breadcrumb-item>
      <el-breadcrumb-item v-else>Ajouter un utilisateur</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="margin-top">
      <el-card style="padding: 1rem 0">
        <el-form ref="form" :rules="rules" :model="user" label-width="200px">
          <el-form-item label="Nom">
            <el-input v-model="user.lastName"></el-input>
          </el-form-item>
          <el-form-item label="Prénom">
            <el-input v-model="user.firstName"></el-input>
          </el-form-item>
          <el-form-item label="Email" prop="email">
            <el-input v-model="user.email" :disabled="user.uid !== null && user.uid !== undefined"
                      name="email"></el-input>
          </el-form-item>
          <el-form-item label="Téléphone">
            <el-input v-model="user.phoneNumber" name="phoneNumber"></el-input>
          </el-form-item>
          <el-form-item label="Rôle" prop="role">
            <el-select class="full-width" v-model="user.role" placeholder="sélectionner un rôle">
              <el-option class="capitalize"
                         v-for="role in roles"
                         :key="role.id"
                         :label="role.designation"
                         :value="role.designation">{{ role.designation }}
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="!user.uid" label="Mot de passe" prop="password">
            <el-input type="password" v-model="user.password" name="password"></el-input>
          </el-form-item>
          <el-form-item v-if="!user.uid" label="Confirmer le mot de passe" prop="passwordConfirm">
            <el-input type="password" v-model="user.passwordConfirm" name="passwordConfirm"></el-input>
          </el-form-item>
          <el-form-item label="Activé">
            <el-switch v-model="user.isActive"></el-switch>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="save">Sauvegarder</el-button>
            <el-button @click="cancel">Retour</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </admin-layout>
</template>

<script>
import { Loading } from 'element-ui'
import AdminLayout from '../../../layouts/admin/AdminLayout'
import Role from '../../../core/models/users/role'
import User from '../../../core/models/users/user'

export default {
  name: 'UserForm',
  components: {AdminLayout},
  data () {
    let validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Veuillez ressaisir votre mot de passe'))
      } else if (value !== this.user.password) {
        callback(new Error('Les deux mots de passe ne sont pas identiques'))
      } else {
        callback()
      }
    }
    return {
      roles: [],
      user: new User({}),
      rules: {
        email: [
          {required: true, message: 'L\'adresse email est obligatoire', trigger: true},
          {type: 'email', message: 'Vérifier le format de cette adresse email', trigger: true}
        ],
        password: [
          {required: true, message: 'Le mot de passe est obligatoire', trigger: true},
          {min: 6, message: 'Le mot de passe doit contenir au moins 6 caractères', trigger: 'blur'}
        ],
        role: [
          {required: true, message: 'La sélection du rôle est obligatoire', trigger: true}
        ],
        passwordConfirm: [
          {required: true, message: 'Retaper votre mot de passe', trigger: true},
          {validator: validatePass, trigger: 'blur'}
        ]
      }
    }
  },
  methods: {
    initRoles () {
      new Role({}).fetchAll().then(records => {
        this.roles = records
      }).catch(error => {
        console.log(error)
        this.$message.error('Erreur lors de la lecture des données.')
      })
    },
    cancel () {
      this.$router.replace({name: 'users-index'})
    },
    reinitialize () {
      this.user = new User({})
    },
    add () {
      let loadingInstance = Loading.service({target: '#content'})
      this.user.create().then(() => {
        loadingInstance.close()
        this.$message.success('L\'utilisateur a été ajouté avec succès')
        this.reinitialize()
      }).catch(error => {
        loadingInstance.close()
        if (error.code === 'auth/invalid-phone-number') {
          this.user.uid = null
          this.$message.error('Numéro de téléphone invalide')
        } else {
          console.log('error', error)
          this.user.uid = null
          this.$message.error('Une erreur a eu lieu lors de la sauvegarde. Veuillez vérifier votre adresse email')
        }
      })
    },
    update () {
      let loadingInstance = Loading.service({target: '#content'})
      this.user.update().then(() => {
        loadingInstance.close()
        this.$message.success('L\'utilisateur a été modifié avec succès')
        this.$router.push({name: 'users-index'})
      }).catch(error => {
        console.log(error)
        loadingInstance.close()
        this.$message.error('Une erreur a eu lieu lors de la sauvegarde. Veuillez réessayer')
      })
    },
    save () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.user.uid) { // updating a user profile
            this.update()
          } else { // creating a new user
            this.add()
          }
        }
      })
    }
  },
  mounted () {
    if (this.$route.params.uid) {
      let loadingInstance = Loading.service({target: '#content'})
      this.user = new User({uid: this.$route.params.uid})
      this.user.getUserById()
        .then(() => {
          loadingInstance.close()
        })
        .catch(e => {
          console.log(e)
          loadingInstance.close()
        })
    }
    this.initRoles()
  }
}
</script>
