<template>
  <el-container>
    <side-bar :activeIndex="$route.path"/>
    <el-main class="full-height">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>tableau de bord</el-breadcrumb-item>
        <el-breadcrumb-item>gestion des utilisateurs</el-breadcrumb-item>
        <el-breadcrumb-item v-if="user.uid">modifier un utilisateur</el-breadcrumb-item>
        <el-breadcrumb-item v-else>ajouter un utilisateur</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="margin-top">
        <el-card style="padding: 1rem 0">
          <!-- <div slot="header" class="clearfix">
            <el-button style="float: right; padding: 3px 0" type="text">Operation button</el-button>
          </div> -->
          <el-form ref="form" :model="user" label-width="200px">
            <el-form-item label="Nom">
              <el-input v-model="user.lastName"></el-input>
            </el-form-item>
            <el-form-item label="Prénom">
              <el-input v-model="user.firstName"></el-input>
            </el-form-item>
            <el-form-item label="Email">
              <el-input v-model="user.email" :disabled="user.uid" v-validate="{required : true, email: true}"
                        name="email"></el-input>
              <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
            </el-form-item>
            <el-form-item label="Téléphone">
              <el-input v-model="user.phoneNumber" name="phoneNumber"></el-input>
            </el-form-item>
            <el-form-item label="Rôle">
              <el-select class="full-width" v-model="user.role" placeholder="sélectionner un rôle">
                <el-option class="capitalize"
                           v-for="role in roles"
                           :key="role.id"
                           :label="role.designation"
                           :value="role.designation">{{ role.designation }}
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item v-if="!user.uid" label="Mot de passe">
              <el-input type="password" v-model="user.password" v-validate="{required : true, min : 6}"
                        name="password"></el-input>
              <span v-show="errors.has('password')">{{ errors.first('password') }}</span>
            </el-form-item>
            <el-form-item v-if="!user.uid" label="Confirmer le mot de passe">
              <el-input type="password" v-model="user.passwordConfirm" name="passwordConfirm"></el-input>
            </el-form-item>
            <el-form-item label="Activé">
              <el-switch v-model="user.isActive"></el-switch>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="save">Sauvegarder</el-button>
              <el-button @click="cancel">Retour</el-button>
            </el-form-item>
          </el-form>
        </el-card>
      </div>
    </el-main>
  </el-container>
</template>

<script>
// import { Loading } from 'element-ui'
// import firebase from '@/firebase'

import Role from '@/models/users/role'
import SideBar from '@/components/private/shared/SideBar'
import User from '@/models/users/user'
import { roles } from '@/models/core/helpers'

export default {
  name: 'CreateUser',
  components: {SideBar},
  data () {
    return {
      roles: this.roles,
      user: new User({})
    }
  },
  methods: {
    initRoles () {
      // let loading = Loading.service({fullscreen: true})
      new Role({}).get().then(records => {
        this.roles = records
        // loading.close()
      }).catch(error => {
        console.log(error)
        this.$message.error('Erreur lors de la lecture des données.')
        // loading.close()
      })
    },
    cancel () {
      this.$router.replace({name: 'users-list'})
    },
    reinitialize () {
      this.$validator.reset()
      this.errors.clear()
      this.user = new User({})
    },
    add () {
      if (this.user.password === this.user.passwordConfirm) {
        if (this.isRoleSelected()) {
          this.user.create().then(() => {
            this.$message.success('L\'utilisateur a été ajouté avec succès')
            this.reinitialize()
          }).catch(error => {
            if (error.code === 'auth/invalid-phone-number') {
              this.user.uid = null
              this.$message.error('Numéro de téléphone invalide')
            } else {
              console.log('error', error)
              this.user.uid = null
              this.$message.error('Une erreur a eu lieu lors de la sauvegarde. Veuillez vérifier votre adresse email')
            }
          })
        } else {
          this.$message.error('Sélectionner le rôle de l\'utilisateur')
        }
      } else {
        this.$message.warning('Les mots de passe ne sont pas identiques')
      }
    },
    isRoleSelected () {
      return this.user.role === roles.VERIFICATION_OFFICIER.designation || this.user.role === roles.ENTRY_OFFICIER.designation || this.user.role === roles.ADMINISTRATOR.designation || this.user.role === roles.CUSTOMER.designation || this.user.role === roles.COLLECTOR.designation
    },
    update () {
      if (this.isRoleSelected()) {
        this.user.update().then(() => {
          this.$message.success('L\'utilisateur a été modifié avec succès')
        }).catch(error => {
          console.log(error)
          this.$message.error('Une erreur a eu lieu lors de la sauvegarde. Veuillez réessayer)')
        })
      } else {
        this.$message.error('Sélectionner le rôle de l\'utilisateur')
      }
    },
    save () {
      this.$validator.validate().then(result => {
        if (!result) {
          this.$message.warning('Vérifiez les champs !')
        } else {
          if (this.user.uid) { // updating a user profile
            this.update()
          } else { // creating a new user
            this.add()
          }
        }
      })
    }
  },
  mounted () {
    let dict = {
      custom: {
        email: {
          required: 'L\'adresse email est obligatoire',
          email: 'Vérifier le format de cette adresse email'
        },
        phoneNumber: {},
        password: {
          required: 'Le mot de passe est obligatoire',
          min: 'Le mot de passe doit contenir au moins 6 caractères'
        }
      }
    }
    this.$validator.localize('fr', dict)
    let uid = this.$route.params.uid
    if (uid) {
      this.user = new User({uid: uid})
      this.user.getUserById()
    }
    this.initRoles()
  }
}
</script>
