// @font-face {
//   font-family: system;
//   font-style: normal;
//   font-weight: 300;
//   src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
// }

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* theme color */
$--color-primary: rgba(18, 130, 162, 1);
$--color-success: #00b894;
$--color-info: #95a5a6;
$--color-danger: #b71540;
// $--color-primary: #43688c;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
