@import "minxins/shadows";
@import "helpers/utils";

@media print {
  fieldset, .do-not-break-at-print {
    page-break-inside: avoid;
  }
}

hr {
  height: 1px;
  padding: 0;
  color: #cccccc;
  background-color: #cccccc;
  border: 0;
}

body, #app {
  min-height: 100vh;
  background: #f2f2f2;
  word-break: break-word !important;
  color: #222222;
}

.el-table {
  color: #222222;
}

* {
  word-break: break-word !important;
}

#app {
  position: relative;
}

.nav-bar {
  z-index: 99;
  border: none;
  position: fixed;
  width: 100%;
  @include box_shadow(3);
  @media print {
    display: none;
  }
}

.side-bar-container {
  width: 200px !important;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin-top: 60px;
  @include box_shadow(2);
  @media screen and (max-width: 768px) {
    display: none;
  }
  .side-bar {
    @extend .full-height
  }
}

main {
  margin-top: 60px;
  margin-left: 200px;
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}

.officierMain {
  margin-top: 60px;
  margin-left: 0 !important;
}

.content-full {
  padding-top: 60px;
  width: 100%;
  @media print {
    padding: 0;
  }
}

.act-form {
  .el-form-item__label {
    text-align: left;
  }
}

fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
}

fieldset > legend {
  padding: 0 1rem;
  color: #545454;
}

#map {
  width: 100%;
  height: 500px;
}
