<template>
  <el-container>
    <side-bar v-if="isAdmin" :activeIndex="$route.path"/>
    <el-main v-bind:class="[!isAdmin  ? 'officierMain' : '']" class="full-height" id="container">
      <slot></slot>
    </el-main>
  </el-container>
</template>

<script>
import { mapGetters } from 'vuex'
import SideBar from '../../components/layouts/SideBar'

export default {
  name: 'AdminLayout',
  components: {SideBar},
  computed: {
    ...mapGetters({
      user: 'users/getCurrentUser'
    }),
    isAdmin: function () {
      return this.user.role === 'Administrateur'
    }
  }
}
</script>
