<template>
  <el-container>
    <el-main class="full-height">
      <div class="login-form-container">
        <el-card style="padding: 1rem 0">
          <el-form ref="form" :model="user" label-width="200px" label-position="top">
            <el-form-item label="Nom d'utilisateur">
              <el-input class="full-width" type="email" v-model="user.email"></el-input>
            </el-form-item>
            <el-form-item label="Mot de passe">
              <el-input type="password" v-model="user.password"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" :loading="loading" @click="signIn">Se connecter</el-button>
            </el-form-item>
          </el-form>
          <a type="btn" href="#" @click="forgottenPassword">Mot de passe oublié</a>
        </el-card>
      </div>
    </el-main>
  </el-container>
</template>
<script>
import firebase from '@/firebase'
import User from '@/to-delete/models/users/user'
import { roles } from '@/to-delete/models/core/helpers'

export default {
  name: 'SignIn',
  data () {
    return {
      user: new User({}),
      loading: false
    }
  },
  methods: {
    forgottenPassword () {
      let email = this.fixTappedEmail()
      if (email) {
        this.user.resetPassword(email).then(() => {
          this.$message.success('Un email de réinitialisation vous a été envoyé. Consultez votre boîte de réception')
        }).catch(error => {
          if (error.code === 'auth/user-not-found') {
            this.$message.error('Aucun compte ne correspond à cette adresse email')
          } else if (error.code === 'auth/invalid-email') {
            this.$message.error('Adresse email invalide')
          } else {
            this.$message.error('Une erreur est survenue, veuillez réessayer')
          }
          console.log(error.code)
        })
      } else {
        this.$message.info('Tapez votre adresse email afin de réinitialiser votre mot de passe')
      }
    },
    fixTappedEmail () {
      if (this.user.email) {
        if (this.user.email.indexOf('@') === -1) {
          return this.user.email + '@nominis.com'
        } else {
          return this.user.email
        }
      } else {
        return null
      }
    },
    signIn () {
      let email = this.fixTappedEmail()
      this.user.signInWithEmail(email).then(() => {
        let user = firebase.auth().currentUser
        if (user) {
          if (user.displayName) {
            if (user.displayName !== roles.ADMINISTRATOR.designation && user.displayName !== roles.ADMINISTRATOR.label && user.displayName !== roles.ENTRY_OFFICIER.designation && user.displayName !== roles.VERIFICATION_OFFICIER.designation) {
              this.$message.error('L\'accès est réservé seulement aux admins, agents de saisie et agents de vérification')
              this.user.signOut()
            }
          } else {
            this.$message.error('Une erreur interne est survenue')
            this.user.signOut()
          }
        } else {
          console.log('user not available')
          this.$message.error('Une erreur interne est survenue')
          this.user.signOut()
        }
      }).catch(error => {
        if (error.code === 'auth/network-request-failed') {
          this.$message.error('Vérifiez votre connexion puis réessayez')
          console.log(error.message)
        } else if (error.code === 'auth/invalid-email') {
          this.$message.error('Adresse email invalide')
        } else if (error.code === 'auth/user-not-found') {
          this.$message.error('Aucun compte enregistré avec cette adresse email/nom d\'utilisateur')
        } else if (error.code === 'auth/user-disabled') {
          this.$message.error('Votre compte a été désactivé par l\'administrateur')
        } else if (error.code === 'auth/wrong-password') {
          this.$message.error('Mot de passe incorrect')
        } else {
          this.$message.error('Une erreur est survenue, veuillez réessayer')
          console.log(error)
        }
      })
    }
  }
}
</script>
<style scoped>
  .login-form-container {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
