<template>
  <el-menu class="nav-bar" mode="horizontal" :router="true" background-color="#43688c" text-color="#f2f2f2"
           active-text-color="#fefcfb">
    <el-menu-item index="/" class="title">nominis |</el-menu-item>
    <el-menu-item v-bind:index="dashboard" v-if="user.uid">Tableau de bord</el-menu-item>
    <el-menu-item v-bind:index="dashboard" v-if="customer.id">Recours foncier +</el-menu-item>
    <el-menu-item index="favorites" v-if="customer.id">Mes favoris</el-menu-item>
    <!--<el-menu-item index="acts" v-if="customer.id">Mes actes</el-menu-item>-->
    <!--<el-menu-item index="/dashboard/publications">Publications</el-menu-item>-->
    <el-submenu class="float-right" v-if="user.uid || customer.id" index="0">
      <template slot="title">{{ (user.firstName || customerDescription) | capitalize }} {{ user.lastName | capitalize }}</template>
      <el-menu-item index="/" @click="signOut">Se déconnecter</el-menu-item>
    </el-submenu>
    <el-menu-item class="float-right" v-else index="/sign-in">Se connecter</el-menu-item>
  </el-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import {roles} from '../../core/models/users/const/roles'

export default {
  name: 'NavBar',
  computed: {
    ...mapGetters({
      user: 'users/getCurrentUser',
      customer: 'users/getCurrentCustomer'
    }),
    customerDescription: function () {
      var s = this.customer.firstName + ' ' + this.customer.lastName // + ' (' + this.customer.credits
      /*
      if (parseInt(this.customer.credits) === 1) {
        s = s + ' crédit)'
      } else {
        s = s + ' crédits)'
      }
      */
      return s
    },
    dashboard: function () {
      if (this.user.role === roles.VERIFICATION_OFFICIER.designation) {
        return '/dashboard/lots/verifications'
      } else if (this.user.role === roles.ENTRY_OFFICIER.designation) {
        return '/dashboard/lots'
      } else if (this.user.role === roles.ADMINISTRATOR.designation) {
        return '/dashboard'
      } else {
        return '/dashboard/publications'
      }
    }
  },
  methods: {
    signOut () {
      this.user.signOut()
        .then(() => {
          this.$message.info('A la prochaine...')
        })
        .catch(e => {
          console.log(e)
          this.$message.error('Une erreur est survenue, merci de réessayer...')
        })
    }
  }
}
</script>

<style scoped>
  .title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1rem;
  }
</style>
