<template>
  <el-aside class="side-bar-container" :default-active="activeIndex">
    <el-menu class="side-bar" :router="true">
      <!-- <el-menu-item index="/dashboard/lots/form">
        <i class="el-icon-tickets"></i>
        <span>Actes fonciers form</span>
      </el-menu-item> -->
      <el-menu-item index="/dashboard/lots">
        <i class="el-icon-tickets"></i>
        <span>Actes fonciers</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/lots/verifications">
        <i class="el-icon-tickets"></i>
        <span>Vérification</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/lots/publications">
        <i class="el-icon-tickets"></i>
        <span>Publication</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/users">
        <i class="el-icon-tickets"></i>
        <span>Utilisateurs</span>
      </el-menu-item>
      <el-menu-item index="/dashboard/customers">
        <i class="el-icon-tickets"></i>
        <span>Clients</span>
      </el-menu-item>
    </el-menu>
  </el-aside>
</template>

<script>
export default {
  props: ['activeIndex'],
  name: 'SideBar'
}
</script>
