<template>
  <swiper :options="swiperOption" ref="mySwiper" @someSwiperEvent="callback">
    <!-- slides -->
    <swiper-slide v-for="singleNews in news" :key="singleNews" style="padding-top: 25px">
      <single-news-component :isFavorite="singleNews.isFavorite" :actID="singleNews.actID" :title="singleNews.title"
                             :type="singleNews.type" :publishedAt="singleNews.publishedAt" :body="singleNews.body"
                             :imageURL="singleNews.file.url"></single-news-component>
    </swiper-slide>
    <!-- Optional controls -->
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>

<script>
import moment from 'moment-timezone'
import News from '@/models/news/news'
import SingleNewsComponent from '../../../../components/private/News'
import ActDocument from '../../../../models/acts/act-document'

export default {
  name: 'NewsComponent',
  components: {SingleNewsComponent},
  data () {
    return {
      swiperOption: {
        direction: 'horizontal',
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      },
      news: this.news
    }
  },
  computed: {
    swiper () {
      return this.$refs.mySwiper.swiper
    }
  },
  mounted () {
    this.initNews()
    this.swiper.slideTo(0, 3000, false)
  },
  methods: {
    callback () {

    },
    setupFavoriteNews (favoriteActs) { // favorite acts of the user
      favoriteActs.forEach(favoriteAct => {
        let index = this.news.findIndex(singleNews => {
          return singleNews.actID === favoriteAct.id
        })
        if (index > -1) {
          console.log('fav')
          this.news[index].isFavorite = true
        }
      })
    },
    initNews () {
      new News({}).getLastTenNewsArray().then(news => {
        this.news = news
        new ActDocument({}).getFavorites().then(favoriteActs => {
          this.setupFavoriteNews(favoriteActs)
        }).catch(error => {
          console.log(error)
          this.$message.error('Une erreur est survenue, veuillez réessayer')
        })
      })
    },
    convertTimestamp2String (timestamp) {
      let tz = moment.tz.guess()
      if (moment(timestamp).isDST()) { // Daylight saving time
        timestamp -= 3600000 // - 1 hour
      }
      return moment(timestamp).tz(tz).fromNow()
    }
  }
}
</script>
