.float-right {
  float: right !important;
}

.full-height {
  min-height: calc(100vh - 61px);
}

.full-width {
  width: 100%;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.capitalize {
  text-transform: capitalize;
}

.margin-top {
  margin-top: 1rem;
}

.margin-vertical {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}